# Wrangle P.I.S.A. 2012
#### By Youssef Khattab

All through this NoteBook, I will survey and cleaning information from the PISA 2012 dataset. The reason for this fighting is to have a usable dataframe for the corresponding investigation NoteBook, wherein I will investigate the cleaned dataframe and making inferences from the plots

In [1]:
# Import required packages
import numpy as np
import pandas as pd

In [2]:
pisa = pd.read_csv('pisa2012.csv', encoding='ISO-8859-1', sep=',', index_col=0) # Drop First Column 'Unnamed: 0'
pisa.head()

C:\Users\j stock\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (15,16,17,21,22,23,24,25,26,30,31,36,37,45,65,123,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,307,308,309,310,311,312,313,314,315,316,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,376,377,378,379,380,381,382,383,384,385,386,387,388,389,390,391,392,393,394,395,396,397,398,399,400,401,402,403,475) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,CNT,SUBNATIO,STRATUM,OECD,NC,SCHOOLID,STIDSTD,ST01Q01,ST02Q01,ST03Q01,...,W_FSTR75,W_FSTR76,W_FSTR77,W_FSTR78,W_FSTR79,W_FSTR80,WVARSTRR,VAR_UNIT,SENWGT_STU,VER_STU
1,Albania,80000,ALB0006,Non-OECD,Albania,1,1,10,1.0,2,...,13.7954,13.9235,13.1249,13.1249,4.3389,13.0829,19,1,0.2098,22NOV13
2,Albania,80000,ALB0006,Non-OECD,Albania,1,2,10,1.0,2,...,13.7954,13.9235,13.1249,13.1249,4.3389,13.0829,19,1,0.2098,22NOV13
3,Albania,80000,ALB0006,Non-OECD,Albania,1,3,9,1.0,9,...,12.7307,12.7307,12.7307,12.7307,4.2436,12.7307,19,1,0.1999,22NOV13
4,Albania,80000,ALB0006,Non-OECD,Albania,1,4,9,1.0,8,...,12.7307,12.7307,12.7307,12.7307,4.2436,12.7307,19,1,0.1999,22NOV13
5,Albania,80000,ALB0006,Non-OECD,Albania,1,5,9,1.0,10,...,12.7307,12.7307,12.7307,12.7307,4.2436,12.7307,19,1,0.1999,22NOV13

In [3]:
# print Data Types and Shape of pisa
print(pisa.dtypes)
print('-'*10)
print(pisa.shape)
print('-'*10)
print(pisa.head(20))

CNT            object
SUBNATIO        int64
STRATUM        object
OECD           object
NC             object
SCHOOLID        int64
STIDSTD         int64
ST01Q01         int64
ST02Q01       float64
ST03Q01         int64
ST03Q02         int64
ST04Q01        object
ST05Q01        object
ST06Q01       float64
ST07Q01        object
ST07Q02        object
ST07Q03        object
ST08Q01        object
ST09Q01        object
ST115Q01      float64
ST11Q01        object
ST11Q02        object
ST11Q03        object
ST11Q04        object
ST11Q05        object
ST11Q06        object
ST13Q01        object
ST14Q01        object
ST14Q02        object
ST14Q03        object
               ...
W_FSTR55      float64
W_FSTR56      float64
W_FSTR57      float64
W_FSTR58      float64
W_FSTR59      float64
W_FSTR60      float64
W_FSTR61      float64
W_FSTR62      float64
W_FSTR63      float64
W_FSTR64      float64
W_FSTR65      float64
W_FSTR66      float64
W_FSTR67      float64
W_FSTR68      float64
W_FSTR69      float64
W_FSTR70      float64
W_FSTR71      float64
W_FSTR72      float64
W_FSTR73      float64
W_FSTR74      float64
W_FSTR75      float64
W_FSTR76      float64
W_FSTR77      float64
W_FSTR78      float64
W_FSTR79      float64
W_FSTR80      float64
WVARSTRR        int64
VAR_UNIT        int64
SENWGT_STU    float64
VER_STU        object
Length: 635, dtype: object
----------
(485490, 635)
----------
        CNT  SUBNATIO  STRATUM      OECD       NC  SCHOOLID  STIDSTD  ST01Q01  \
1   Albania     80000  ALB0006  Non-OECD  Albania         1        1       10
2   Albania     80000  ALB0006  Non-OECD  Albania         1        2       10
3   Albania     80000  ALB0006  Non-OECD  Albania         1        3        9
4   Albania     80000  ALB0006  Non-OECD  Albania         1        4        9
5   Albania     80000  ALB0006  Non-OECD  Albania         1        5        9
6   Albania     80000  ALB0006  Non-OECD  Albania         1        6        9
7   Albania     80000  ALB0006  Non-OECD  Albania         1        7       10
8   Albania     80000  ALB0006  Non-OECD  Albania         1        8       10
9   Albania     80000  ALB0006  Non-OECD  Albania         1        9        9
10  Albania     80000  ALB0005  Non-OECD  Albania         2       10       10
11  Albania     80000  ALB0005  Non-OECD  Albania         2       11       10
12  Albania     80000  ALB0005  Non-OECD  Albania         2       12       10
13  Albania     80000  ALB0005  Non-OECD  Albania         2       13       10
14  Albania     80000  ALB0005  Non-OECD  Albania         2       14       10
15  Albania     80000  ALB0005  Non-OECD  Albania         2       15       10
16  Albania     80000  ALB0005  Non-OECD  Albania         2       16       10
17  Albania     80000  ALB0005  Non-OECD  Albania         2       17       10
18  Albania     80000  ALB0005  Non-OECD  Albania         2       18       10
19  Albania     80000  ALB0005  Non-OECD  Albania         2       19       10
20  Albania     80000  ALB0005  Non-OECD  Albania         2       20       10

    ST02Q01  ST03Q01   ...     W_FSTR75 W_FSTR76 W_FSTR77  W_FSTR78 W_FSTR79  \
1       1.0        2   ...      13.7954  13.9235  13.1249   13.1249   4.3389
2       1.0        2   ...      13.7954  13.9235  13.1249   13.1249   4.3389
3       1.0        9   ...      12.7307  12.7307  12.7307   12.7307   4.2436
4       1.0        8   ...      12.7307  12.7307  12.7307   12.7307   4.2436
5       1.0       10   ...      12.7307  12.7307  12.7307   12.7307   4.2436
6       1.0        9   ...      12.7307  12.7307  12.7307   12.7307   4.2436
7       1.0        3   ...      13.7954  13.9235  13.1249   13.1249   4.3389
8       1.0        6   ...      14.4599  14.6374  15.8728   15.8728   5.2248
9       1.0       10   ...      12.7307  12.7307  12.7307   12.7307   4.2436
10      1.0        8   ...       3.3844  10.1533   3.3844   10.1533  10.1533
11      1.0        5   ...       3.3844  10.1533   3.3844   10.1533  10.1533
12      1.0        5   ...       3.3844  10.1533   3.3844   10.1533  10.1533
13      1.0        3   ...       3.3844  10.1533   3.3844   10.1533  10.1533
14      1.0        5   ...       3.3844  10.1533   3.3844   10.1533  10.1533
15      1.0        4   ...       3.5254  11.8663   3.5254   11.8663  11.8663
16      1.0        7   ...       3.5254  11.8663   3.5254   11.8663  11.8663
17      1.0        7   ...       3.3844  10.1533   3.3844   10.1533  10.1533
18      1.0        2   ...       3.5254  11.8663   3.5254   11.8663  11.8663
19      1.0        6   ...       3.3844  10.1533   3.3844   10.1533  10.1533
20      1.0        8   ...       3.3844  10.1533   3.3844   10.1533  10.1533

   W_FSTR80 WVARSTRR VAR_UNIT SENWGT_STU  VER_STU
1   13.0829       19        1     0.2098  22NOV13
2   13.0829       19        1     0.2098  22NOV13
3   12.7307       19        1     0.1999  22NOV13
4   12.7307       19        1     0.1999  22NOV13
5   12.7307       19        1     0.1999  22NOV13
6   12.7307       19        1     0.1999  22NOV13
7   13.0829       19        1     0.2098  22NOV13
8   15.2579       19        1     0.2322  22NOV13
9   12.7307       19        1     0.1999  22NOV13
10  10.1533       74        2     0.1594  22NOV13
11  10.1533       74        2     0.1594  22NOV13
12  10.1533       74        2     0.1594  22NOV13
13  10.1533       74        2     0.1594  22NOV13
14  10.1533       74        2     0.1594  22NOV13
15  11.8663       74        2     0.1746  22NOV13
16  11.8663       74        2     0.1746  22NOV13
17  10.1533       74        2     0.1594  22NOV13
18  11.8663       74        2     0.1746  22NOV13
19  10.1533       74        2     0.1594  22NOV13
20  10.1533       74        2     0.1594  22NOV13

[20 rows x 635 columns]

In [4]:
# look an ioformain about data frame
pisa.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 485490 entries, 1 to 485490
Columns: 635 entries, CNT to VER_STU
dtypes: float64(250), int64(17), object(368)
memory usage: 2.3+ GB

In [5]:
# look on all countries included in dataframe 
pisa['CNT'].value_counts()

Mexico                      33806
Italy                       31073
Spain                       25313
Canada                      21544
Brazil                      19204
Australia                   14481
United Kingdom              12659
United Arab Emirates        11500
Switzerland                 11229
Qatar                       10966
Colombia                     9073
Finland                      8829
Belgium                      8597
Denmark                      7481
Jordan                       7038
Chile                        6856
Thailand                     6606
Japan                        6351
Chinese Taipei               6046
Peru                         6035
Slovenia                     5911
Argentina                    5908
Kazakhstan                   5808
Portugal                     5722
Indonesia                    5622
Singapore                    5546
Macao-China                  5335
Czech Republic               5327
Uruguay                      5315
Bulgaria                     5282
                            ...
Ireland                      5016
Croatia                      5008
Germany                      5001
United States of America     4978
Vietnam                      4959
Turkey                       4848
Hungary                      4810
Estonia                      4779
Austria                      4755
Montenegro                   4744
Albania                      4743
Sweden                       4736
Norway                       4686
Serbia                       4684
Slovak Republic              4678
Hong Kong-China              4670
Lithuania                    4618
France                       4613
Poland                       4607
Costa Rica                   4602
Netherlands                  4460
Tunisia                      4407
Latvia                       4306
New Zealand                  4291
Iceland                      3508
Florida (USA)                1896
Perm(Russian Federation)     1761
Massachusetts (USA)          1723
Connecticut (USA)            1697
Liechtenstein                 293
Name: CNT, Length: 68, dtype: int64

In [6]:
# Check Duplicate variables
pisa.drop_duplicates()

,CNT,SUBNATIO,STRATUM,OECD,NC,SCHOOLID,STIDSTD,ST01Q01,ST02Q01,ST03Q01,...,W_FSTR75,W_FSTR76,W_FSTR77,W_FSTR78,W_FSTR79,W_FSTR80,WVARSTRR,VAR_UNIT,SENWGT_STU,VER_STU
1,Albania,80000,ALB0006,Non-OECD,Albania,1,1,10,1.0,2,...,13.7954,13.9235,13.1249,13.1249,4.3389,13.0829,19,1,0.2098,22NOV13
2,Albania,80000,ALB0006,Non-OECD,Albania,1,2,10,1.0,2,...,13.7954,13.9235,13.1249,13.1249,4.3389,13.0829,19,1,0.2098,22NOV13
3,Albania,80000,ALB0006,Non-OECD,Albania,1,3,9,1.0,9,...,12.7307,12.7307,12.7307,12.7307,4.2436,12.7307,19,1,0.1999,22NOV13
4,Albania,80000,ALB0006,Non-OECD,Albania,1,4,9,1.0,8,...,12.7307,12.7307,12.7307,12.7307,4.2436,12.7307,19,1,0.1999,22NOV13
5,Albania,80000,ALB0006,Non-OECD,Albania,1,5,9,1.0,10,...,12.7307,12.7307,12.7307,12.7307,4.2436,12.7307,19,1,0.1999,22NOV13
6,Albania,80000,ALB0006,Non-OECD,Albania,1,6,9,1.0,9,...,12.7307,12.7307,12.7307,12.7307,4.2436,12.7307,19,1,0.1999,22NOV13
7,Albania,80000,ALB0006,Non-OECD,Albania,1,7,10,1.0,3,...,13.7954,13.9235,13.1249,13.1249,4.3389,13.0829,19,1,0.2098,22NOV13
8,Albania,80000,ALB0006,Non-OECD,Albania,1,8,10,1.0,6,...,14.4599,14.6374,15.8728,15.8728,5.2248,15.2579,19,1,0.2322,22NOV13
9,Albania,80000,ALB0006,Non-OECD,Albania,1,9,9,1.0,10,...,12.7307,12.7307,12.7307,12.7307,4.2436,12.7307,19,1,0.1999,22NOV13
10,Albania,80000,ALB0005,Non-OECD,Albania,2,10,10,1.0,8,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
11,Albania,80000,ALB0005,Non-OECD,Albania,2,11,10,1.0,5,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
12,Albania,80000,ALB0005,Non-OECD,Albania,2,12,10,1.0,5,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
13,Albania,80000,ALB0005,Non-OECD,Albania,2,13,10,1.0,3,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
14,Albania,80000,ALB0005,Non-OECD,Albania,2,14,10,1.0,5,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
15,Albania,80000,ALB0005,Non-OECD,Albania,2,15,10,1.0,4,...,3.5254,11.8663,3.5254,11.8663,11.8663,11.8663,74,2,0.1746,22NOV13
16,Albania,80000,ALB0005,Non-OECD,Albania,2,16,10,1.0,7,...,3.5254,11.8663,3.5254,11.8663,11.8663,11.8663,74,2,0.1746,22NOV13
17,Albania,80000,ALB0005,Non-OECD,Albania,2,17,10,1.0,7,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
18,Albania,80000,ALB0005,Non-OECD,Albania,2,18,10,1.0,2,...,3.5254,11.8663,3.5254,11.8663,11.8663,11.8663,74,2,0.1746,22NOV13
19,Albania,80000,ALB0005,Non-OECD,Albania,2,19,10,1.0,6,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
20,Albania,80000,ALB0005,Non-OECD,Albania,2,20,10,1.0,8,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
21,Albania,80000,ALB0005,Non-OECD,Albania,2,21,10,1.0,2,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
22,Albania,80000,ALB0005,Non-OECD,Albania,2,22,10,1.0,1,...,3.5254,11.8663,3.5254,11.8663,11.8663,11.8663,74,2,0.1746,22NOV13
23,Albania,80000,ALB0005,Non-OECD,Albania,2,23,10,1.0,6,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
24,Albania,80000,ALB0005,Non-OECD,Albania,2,24,10,1.0,3,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
25,Albania,80000,ALB0005,Non-OECD,Albania,2,25,10,1.0,5,...,3.5254,11.8663,3.5254,11.8663,11.8663,11.8663,74,2,0.1746,22NOV13
26,Albania,80000,ALB0005,Non-OECD,Albania,2,26,10,1.0,12,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
27,Albania,80000,ALB0005,Non-OECD,Albania,2,27,10,1.0,3,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
28,Albania,80000,ALB0005,Non-OECD,Albania,2,28,10,1.0,5,...,3.5254,11.8663,3.5254,11.8663,11.8663,11.8663,74,2,0.1746,22NOV13
29,Albania,80000,ALB0005,Non-OECD,Albania,2,29,10,1.0,6,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
30,Albania,80000,ALB0005,Non-OECD,Albania,2,30,10,1.0,4,...,3.3844,10.1533,3.3844,10.1533,10.1533,10.1533,74,2,0.1594,22NOV13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
485461,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4930,10,3.0,10,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485462,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4931,10,3.0,11,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485463,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4932,10,3.0,1,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485464,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4933,10,3.0,11,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485465,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4934,10,3.0,5,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485466,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4935,10,3.0,3,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485467,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4936,10,3.0,4,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485468,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4937,10,3.0,12,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485469,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4938,10,3.0,5,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485470,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4939,10,3.0,10,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485471,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4940,10,3.0,11,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485472,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4941,10,3.0,5,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485473,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4942,10,3.0,2,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485474,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4943,10,3.0,2,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485475,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4944,10,3.0,10,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485476,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4945,10,3.0,9,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485477,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4946,10,3.0,5,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485478,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4947,10,3.0,5,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485479,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4948,10,3.0,11,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485480,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4949,10,3.0,11,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485481,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4950,10,3.0,1,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485482,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4951,10,3.0,3,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485483,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4952,10,3.0,6,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485484,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4953,10,3.0,1,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485485,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4954,10,3.0,8,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485486,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4955,10,3.0,6,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13
485487,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4956,10,3.0,2,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485488,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4957,10,3.0,6,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485489,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4958,10,3.0,6,...,33.9163,96.0036,96.0036,96.0036,96.0036,33.9163,41,1,0.0688,22NOV13
485490,Vietnam,7040000,VNM0317,Non-OECD,Viet Nam,162,4959,10,3.0,12,...,31.2413,93.7238,93.7238,93.7238,93.7238,31.2413,41,1,0.0653,22NOV13

In [7]:
# Check Null values in intreseted columns
columns = ['CNT', 'STIDSTD', 'ST01Q01', 'ST04Q01', 'ST13Q01', 
            'ST17Q01', 'ST28Q01', 'ST57Q01', 'ST57Q02', 'ST57Q03', 
            'ST57Q04', 'ST57Q05', 'MMINS', 'LMINS', 'SMINS',
            'PV1MATH', 'PV2MATH', 'PV3MATH', 'PV4MATH', 'PV5MATH',  
            'PV1READ', 'PV2READ',  'PV3READ', 'PV4READ', 'PV5READ',
            'PV1SCIE', 'PV2SCIE', 'PV3SCIE', 'PV4SCIE', 'PV5SCIE']

for x in columns:
    print(x, pisa[x].isna().sum())

CNT 0
STIDSTD 0
ST01Q01 0
ST04Q01 0
ST13Q01 27511
ST17Q01 42229
ST28Q01 11725
ST57Q01 184123
ST57Q02 215682
ST57Q03 201677
ST57Q04 205833
ST57Q05 195988
MMINS 202187
LMINS 202624
SMINS 214576
PV1MATH 0
PV2MATH 0
PV3MATH 0
PV4MATH 0
PV5MATH 0
PV1READ 0
PV2READ 0
PV3READ 0
PV4READ 0
PV5READ 0
PV1SCIE 0
PV2SCIE 0
PV3SCIE 0
PV4SCIE 0
PV5SCIE 0

In [8]:
# Create copy from dataframe to play with it and edit it easy
pisa_c = pisa.copy()

In [9]:
# Create new dataframe with only the intersted columns
pisa_c = pisa_c[['CNT', 'STIDSTD', 'ST04Q01', 'ST13Q01', 'ST14Q01', 'ST14Q02', 'ST14Q03', 'ST14Q04', 
                         'ST17Q01', 'ST18Q01', 'ST18Q02', 'ST18Q03', 'ST18Q04', 
                         'ST57Q01', 'ST57Q02', 'ST57Q03', 'ST57Q04', 'ST57Q05', 'MMINS', 
                         'LMINS', 'SMINS', 'PV1MATH', 'PV2MATH', 'PV3MATH', 'PV4MATH', 
                         'PV5MATH', 'PV1READ', 'PV2READ',  'PV3READ', 'PV4READ', 'PV5READ',
                         'PV1SCIE', 'PV2SCIE', 'PV3SCIE', 'PV4SCIE', 'PV5SCIE']]

### Create an average of all 'Math', 'Reading', and 'Science' scores <not necessary for each score>

In [10]:
pisa_c['Average_Math_Score']    = (pisa_c['PV1MATH'] + pisa_c['PV2MATH'] + pisa_c['PV3MATH'] + pisa_c['PV4MATH'] + pisa_c['PV5MATH']) / 5

# Create average of Reading scores
pisa_c['Average_Reading_Score'] = (pisa_c['PV1READ'] + pisa_c['PV2READ'] + pisa_c['PV3READ'] + pisa_c['PV4READ'] + pisa_c['PV5READ']) / 5

# Create average of Science scores
pisa_c['Average_Science_Score'] = (pisa_c['PV1SCIE'] + pisa_c['PV2SCIE'] + pisa_c['PV3SCIE'] + pisa_c['PV4SCIE'] + pisa_c['PV5SCIE']) / 5

# Create average score
pisa_c['Average_Total_Score']   = (pisa_c['Average_Math_Score'] + pisa_c['Average_Reading_Score'] + pisa_c['Average_Science_Score']) / 3

In [11]:
# Check after aggregation. 
list(pisa_c)

['CNT',
 'STIDSTD',
 'ST04Q01',
 'ST13Q01',
 'ST14Q01',
 'ST14Q02',
 'ST14Q03',
 'ST14Q04',
 'ST17Q01',
 'ST18Q01',
 'ST18Q02',
 'ST18Q03',
 'ST18Q04',
 'ST57Q01',
 'ST57Q02',
 'ST57Q03',
 'ST57Q04',
 'ST57Q05',
 'MMINS',
 'LMINS',
 'SMINS',
 'PV1MATH',
 'PV2MATH',
 'PV3MATH',
 'PV4MATH',
 'PV5MATH',
 'PV1READ',
 'PV2READ',
 'PV3READ',
 'PV4READ',
 'PV5READ',
 'PV1SCIE',
 'PV2SCIE',
 'PV3SCIE',
 'PV4SCIE',
 'PV5SCIE',
 'Average_Math_Score',
 'Average_Reading_Score',
 'Average_Science_Score',
 'Average_Total_Score']

In [12]:
# Remove the individual scores for Math, Reading, and Science
pisa_c.drop(columns=['PV1MATH',  'PV2MATH', 'PV3MATH', 'PV4MATH', 'PV5MATH',
                     'PV1READ', 'PV2READ',  'PV3READ', 'PV4READ',  'PV5READ',
                     'PV1SCIE',  'PV2SCIE', 'PV3SCIE',  'PV4SCIE', 'PV5SCIE'], inplace=True)

In [13]:
# Describe of the Math score
print(pisa_c['Average_Math_Score'].describe())
print('-'*22)

# Describe of the Reading score
print(pisa_c['Average_Reading_Score'].describe())
print('-'*22)

# Describe of the Science score
print(pisa_c['Average_Science_Score'].describe())
print('-'*22)

# Describe of the Total score
print(pisa_c['Average_Total_Score'].describe())

count    485490.000000
mean        469.651234
std         100.786610
min          54.767080
25%         396.019620
50%         465.734520
75%         540.123060
max         903.107960
Name: Average_Math_Score, dtype: float64
----------------------
count    485490.000000
mean        472.006964
std          98.863310
min           6.445400
25%         405.044200
50%         475.477980
75%         542.831195
max         849.359740
Name: Average_Reading_Score, dtype: float64
----------------------
count    485490.000000
mean        475.808094
std          97.998470
min          25.158540
25%         405.762800
50%         475.512860
75%         546.381920
max         857.832900
Name: Average_Science_Score, dtype: float64
----------------------
count    485490.000000
mean        472.488764
std          96.036271
min          77.114593
25%         403.992595
50%         472.046460
75%         541.455700
max         826.592027
Name: Average_Total_Score, dtype: float64

In [14]:
# Explore a sample
pisa_c.sample(10)

,CNT,STIDSTD,ST04Q01,ST13Q01,ST14Q01,ST14Q02,ST14Q03,ST14Q04,ST17Q01,ST18Q01,...,ST57Q03,ST57Q04,ST57Q05,MMINS,LMINS,SMINS,Average_Math_Score,Average_Reading_Score,Average_Science_Score,Average_Total_Score
95018,Canada,20548,Female,<ISCED level 3A>,No,No,No,No,<ISCED level 3A>,No,...,0.0,0.0,0.0,375.0,375.0,0.0,445.94954,534.01864,476.81834,485.595507
123265,Costa Rica,93,Male,She did not complete <ISCED level 1>,NaN,NaN,NaN,NaN,<ISCED level 1>,NaN,...,0.0,0.0,0.0,240.0,200.0,200.0,364.16108,338.32238,410.89148,371.124980
457759,Thailand,3382,Male,<ISCED level 1>,No,No,NaN,No,<ISCED level 1>,No,...,NaN,NaN,NaN,NaN,NaN,NaN,338.14456,371.44270,373.40544,360.997567
430961,Serbia,2639,Female,"<ISCED level 3B, 3C>",No,No,No,NaN,"<ISCED level 3B, 3C>",No,...,0.0,0.0,0.0,NaN,180.0,NaN,486.68796,542.20002,481.29430,503.394093
37342,Austria,710,Female,<ISCED level 1>,No,No,No,No,<ISCED level 1>,No,...,NaN,NaN,NaN,NaN,NaN,NaN,363.38214,388.73930,380.95858,377.693340
183368,Finland,7693,Female,<ISCED level 3A>,No,No,Yes,No,<ISCED level 3A>,No,...,0.0,0.0,1.0,225.0,225.0,NaN,613.42108,610.11354,641.68220,621.738940
431543,Serbia,3221,Female,<ISCED level 2>,NaN,NaN,Yes,NaN,<ISCED level 3A>,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,347.64760,392.31372,361.37634,367.112553
118189,Colombia,4090,Male,<ISCED level 3A>,Yes,NaN,NaN,NaN,<ISCED level 3A>,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,397.57752,342.41230,398.76912,379.586313
250710,Italy,10120,Male,<ISCED level 2>,No,No,No,No,<ISCED level 2>,No,...,0.0,0.0,0.0,250.0,200.0,150.0,517.45598,493.33836,529.31742,513.370587
406283,Perm(Russian Federation),889,Male,<ISCED level 3A>,NaN,Yes,NaN,NaN,<ISCED level 2>,NaN,...,10.0,12.0,10.0,180.0,180.0,90.0,319.99532,304.15948,363.14808,329.100960

### Change the variable names to be more readable, since they are codes that can only be read with the dictionary

In [15]:
pisa_c.rename({'CNT': 'Country',
                   'STIDSTD': 'Student ID',
                   'ST04Q01': 'Gender', 
                   'ST13Q01': 'Mother - Highest Schooling', 
                   'ST14Q01': 'Mother Qualifications - ISCED level 6',
                   'ST14Q02': 'Mother Qualifications - ISCED level 5A',
                   'ST14Q03': 'Mother Qualifications - ISCED level 5B',
                   'ST14Q04': 'Mother Qualifications - ISCED level 4',
                   'ST17Q01': 'Father - Highest Schooling',
                   'ST18Q01': 'Father Qualifications - ISCED level 6',
                   'ST18Q02': 'Father Qualifications - ISCED level 5A',
                   'ST18Q03': 'Father Qualifications - ISCED level 5B',
                   'ST18Q04': 'Father Qualifications - ISCED level 4',
                   'ST57Q01': 'Out-of-School Study Time - Homework',
                   'ST57Q02': 'Out-of-School Study Time - Guided Homework',
                   'ST57Q03': 'Out-of-School Study Time - Personal Tutor',
                   'ST57Q04': 'Out-of-School Study Time - Commercial Company',
                   'ST57Q05': 'Out-of-School Study Time - With Parent',
                   'MMINS': 'Learning Time - Mathematics',
                   'LMINS': 'Learning Time - Test Language',
                   'SMINS': 'Learning Time - Science'}, axis='columns', inplace=True)

### Take action for multiple columns for single variables related to father's education

Values for the father's education are distributed among 5 columns accordance to this classification: http://uis.unesco.org/sites/default/files/documents/international-standard-classification-of-education-isced-2011-en.pdf
I will have to expand the first column by creating dummies for each data to have a column, and then melt all the columns into one.

In [16]:
#Make a copy 
f_edu = pisa_c.copy()

In [17]:
# Split column up with dummies
f_edu[['<ISCED level 1>',
       '<ISCED level 2>', 
        '<ISCED level 3A>', 
        '<ISCED level 3B, 3C>', 
        'He did not complete <ISCED level 1>']] = pd.get_dummies(f_edu['Father - Highest Schooling'])

In [18]:
# Rename the columns for consistency and to remove subcategorization of levels
f_edu.rename({'He did not complete <ISCED level 1>': '<ISCED level 0>',
                   '<ISCED level 3A>': '<ISCED level 3>', 
                   '<ISCED level 3B, 3C>': '<ISCED level 3>',
                   'Father Qualifications - ISCED level 4': '<ISCED level 4>',
                   'Father Qualifications - ISCED level 5A': '<ISCED level 5>',
                   'Father Qualifications - ISCED level 5B': '<ISCED level 5>',
                   'Father Qualifications - ISCED level 6': '<ISCED level 6>'}, axis='columns', inplace=True)

In [19]:
# Change datatypes from ints into strings for dummy columns
f_edu['<ISCED level 0>'] = f_edu['<ISCED level 0>'].astype(str)
f_edu['<ISCED level 1>'] = f_edu['<ISCED level 1>'].astype(str)
f_edu['<ISCED level 2>'] = f_edu['<ISCED level 2>'].astype(str)
f_edu['<ISCED level 3>'] = f_edu['<ISCED level 3>'].astype(str)

In [20]:
# Change values from '1's and 'Yes's to the corresponding level to prepare for the melt
f_edu['<ISCED level 0>'] = f_edu['<ISCED level 0>'].replace(regex='1', value='Early childhood')
f_edu['<ISCED level 1>'] = f_edu['<ISCED level 1>'].replace(regex='1', value='Primary')
f_edu['<ISCED level 2>'] = f_edu['<ISCED level 2>'].replace(regex='1', value='Lower secondary')
f_edu['<ISCED level 3>'] = f_edu['<ISCED level 3>'].replace(regex='1', value='Upper secondary')
f_edu['<ISCED level 4>'] = f_edu['<ISCED level 4>'].replace(regex='Yes', value='Post-secondary')
f_edu['<ISCED level 5>'] = f_edu['<ISCED level 5>'].replace(regex='Yes', value='Short-cycle tertiary')
f_edu['<ISCED level 6>'] = f_edu['<ISCED level 6>'].replace(regex='Yes', value='Bachelorâ€™s or equivalent')

In [21]:
# Test to see if the columns are all correct before melt
f_edu.sample(10)

,Country,Student ID,Gender,Mother - Highest Schooling,Mother Qualifications - ISCED level 6,Mother Qualifications - ISCED level 5A,Mother Qualifications - ISCED level 5B,Mother Qualifications - ISCED level 4,Father - Highest Schooling,<ISCED level 6>,...,Learning Time - Science,Average_Math_Score,Average_Reading_Score,Average_Science_Score,Average_Total_Score,<ISCED level 1>,<ISCED level 2>,<ISCED level 3>,<ISCED level 3>,<ISCED level 0>
5995,United Arab Emirates,1252,Female,<ISCED level 3A>,No,No,No,Yes,<ISCED level 3A>,No,...,NaN,313.29648,273.72320,267.19506,284.738247,0,0,Upper secondary,0,0
449500,Chinese Taipei,1169,Female,<ISCED level 3A>,NaN,Yes,NaN,NaN,<ISCED level 3A>,Bachelorâ€™s or equivalent,...,200.0,787.74730,720.68152,670.21632,726.215047,0,0,Upper secondary,0,0
165971,Spain,20388,Female,<ISCED level 3A>,No,No,Yes,No,<ISCED level 3A>,No,...,220.0,531.16528,521.70684,523.90898,525.593700,0,0,Upper secondary,0,0
100324,Switzerland,4310,Female,"<ISCED level 3B, 3C>",NaN,NaN,NaN,NaN,"<ISCED level 3B, 3C>",NaN,...,75.0,395.39648,385.48264,338.81012,373.229747,0,0,0,Upper secondary,0
270382,Italy,29792,Female,<ISCED level 3A>,No,No,No,Yes,<ISCED level 2>,No,...,NaN,358.31908,369.51700,459.66060,395.832227,0,Lower secondary,0,0,0
176207,Finland,532,Female,"<ISCED level 3B, 3C>",No,No,No,No,"<ISCED level 3B, 3C>",No,...,225.0,512.47080,514.16090,497.14660,507.926100,0,0,0,Upper secondary,0
333490,Mexico,17787,Male,"<ISCED level 3B, 3C>",No,Yes,Yes,NaN,"<ISCED level 3B, 3C>",NaN,...,450.0,516.44338,441.21194,479.80232,479.152547,0,0,0,Upper secondary,0
303339,Luxembourg,2535,Male,<ISCED level 3A>,NaN,Yes,NaN,NaN,<ISCED level 3A>,NaN,...,100.0,536.69576,453.96284,507.49722,499.385273,0,0,Upper secondary,0,0
391835,Qatar,2584,Male,NaN,Yes,NaN,NaN,NaN,NaN,NaN,...,NaN,370.62628,409.69550,374.33796,384.886580,0,0,0,0,0
113040,Chile,5797,Female,<ISCED level 3A>,No,No,No,No,<ISCED level 3A>,No,...,NaN,460.51564,507.72698,497.33308,488.525233,0,0,Upper secondary,0,0

In [22]:
# Combine all columns into one variable column
f_edu = pd.melt(f_edu, 
                     id_vars=['Country','Student ID', 'Gender',
                            'Mother - Highest Schooling', 
                            'Mother Qualifications - ISCED level 6', 
                            'Mother Qualifications - ISCED level 5A',
                            'Mother Qualifications - ISCED level 5B',
                            'Mother Qualifications - ISCED level 4',
                            'Out-of-School Study Time - Homework',
                            'Out-of-School Study Time - Guided Homework',
                            'Out-of-School Study Time - Personal Tutor',
                            'Out-of-School Study Time - Commercial Company',
                            'Out-of-School Study Time - With Parent',
                            'Learning Time - Mathematics',
                            'Learning Time - Test Language',
                            'Learning Time - Science',
                            'Average_Math_Score',
                            'Average_Reading_Score',
                            'Average_Science_Score',
                            'Average_Total_Score'], var_name='Completed_edu - Father', value_name='Education - Father')

In [23]:
# Check to see if the columns from the melt were correctly created
f_edu.sample(10)

,Country,Student ID,Gender,Mother - Highest Schooling,Mother Qualifications - ISCED level 6,Mother Qualifications - ISCED level 5A,Mother Qualifications - ISCED level 5B,Mother Qualifications - ISCED level 4,Out-of-School Study Time - Homework,Out-of-School Study Time - Guided Homework,...,Out-of-School Study Time - With Parent,Learning Time - Mathematics,Learning Time - Test Language,Learning Time - Science,Average_Math_Score,Average_Reading_Score,Average_Science_Score,Average_Total_Score,Completed_edu - Father,Education - Father
3613294,Croatia,3294,Male,<ISCED level 3A>,No,No,No,No,8.0,0.0,...,1.0,180.0,180.0,315.0,537.47466,518.92042,506.47146,520.955513,<ISCED level 3>,Upper secondary
4179521,Korea,4742,Male,<ISCED level 3A>,NaN,NaN,Yes,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,369.76942,387.56180,421.05558,392.795600,<ISCED level 3>,0
1899287,Slovenia,5134,Male,"<ISCED level 3B, 3C>",No,No,No,No,2.0,0.0,...,0.0,180.0,180.0,270.0,602.74966,548.75276,587.69118,579.731200,<ISCED level 5>,No
1631018,Estonia,3653,Female,<ISCED level 2>,Yes,Yes,Yes,No,NaN,NaN,...,NaN,NaN,NaN,NaN,432.00656,490.72876,443.24878,455.328033,<ISCED level 5>,Short-cycle tertiary
718822,Iceland,1306,Female,<ISCED level 2>,No,No,No,No,NaN,NaN,...,NaN,NaN,NaN,NaN,527.19270,495.81234,469.54496,497.516667,<ISCED level 6>,No
940801,Thailand,935,Female,<ISCED level 3A>,No,Yes,NaN,No,1.0,1.0,...,0.0,300.0,100.0,650.0,546.66614,509.07728,530.90264,528.882020,<ISCED level 6>,No
529834,Belgium,2958,Female,<ISCED level 2>,No,No,No,Yes,NaN,NaN,...,NaN,NaN,NaN,NaN,499.77410,589.22320,506.28498,531.760760,<ISCED level 6>,No
2944287,Australia,9197,Female,<ISCED level 2>,No,Yes,No,No,NaN,NaN,...,NaN,NaN,NaN,NaN,463.16402,456.65284,478.40358,466.073480,<ISCED level 2>,0
977814,United Arab Emirates,2092,Male,NaN,NaN,Yes,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,407.70370,407.85102,393.64044,403.065053,<ISCED level 5>,Short-cycle tertiary
1042318,Brazil,16073,Male,<ISCED level 3A>,No,No,No,No,1.0,NaN,...,1.0,NaN,NaN,NaN,383.40082,263.01974,385.06154,343.827367,<ISCED level 5>,NaN

In [24]:
# Clean all cases from melt where the edu of the father is either '0' or 'No'
f_edu = f_edu[(f_edu['Education - Father'] != '0')] 
f_edu = f_edu[(f_edu['Education - Father'] != 'No')]

In [25]:
# Check to see if 0's and No's have been removed
f_edu.sample(70)

,Country,Student ID,Gender,Mother - Highest Schooling,Mother Qualifications - ISCED level 6,Mother Qualifications - ISCED level 5A,Mother Qualifications - ISCED level 5B,Mother Qualifications - ISCED level 4,Out-of-School Study Time - Homework,Out-of-School Study Time - Guided Homework,...,Out-of-School Study Time - With Parent,Learning Time - Mathematics,Learning Time - Test Language,Learning Time - Science,Average_Math_Score,Average_Reading_Score,Average_Science_Score,Average_Total_Score,Completed_edu - Father,Education - Father
224427,Indonesia,3039,Female,<ISCED level 1>,No,No,No,NaN,2.0,1.0,...,2.0,60.0,60.0,60.0,343.67506,442.19640,375.08392,386.985127,Father - Highest Schooling,<ISCED level 2>
1491420,Australia,12800,Female,<ISCED level 2>,No,No,No,No,0.0,0.0,...,0.0,180.0,180.0,180.0,312.59542,337.34744,318.29540,322.746087,<ISCED level 5>,NaN
51164,Bulgaria,1181,Male,NaN,Yes,No,Yes,No,1.0,NaN,...,9.0,NaN,360.0,324.0,346.47920,280.50214,343.09956,323.360300,Father - Highest Schooling,<ISCED level 3A>
128334,Czech Republic,561,Male,<ISCED level 3A>,No,No,No,No,5.0,0.0,...,0.0,135.0,135.0,405.0,549.15874,567.59848,545.07646,553.944560,Father - Highest Schooling,<ISCED level 3A>
3181724,Italy,28195,Female,<ISCED level 3A>,No,No,No,Yes,NaN,NaN,...,NaN,180.0,240.0,120.0,413.85730,449.02744,427.58300,430.155913,<ISCED level 2>,Lower secondary
4487726,Colombia,4218,Male,<ISCED level 1>,No,No,No,NaN,5.0,NaN,...,4.0,720.0,480.0,360.0,350.84126,295.25790,407.72100,351.273387,<ISCED level 0>,Early childhood
3653476,Italy,14457,Male,<ISCED level 3A>,No,No,Yes,No,NaN,NaN,...,NaN,NaN,NaN,NaN,428.73500,406.72830,438.77284,424.745380,<ISCED level 3>,Upper secondary
2214039,Jordan,417,Male,<ISCED level 1>,No,No,No,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,297.71770,296.54102,310.18276,301.480493,<ISCED level 4>,NaN
2368428,Singapore,3693,Female,<ISCED level 3A>,No,No,No,Yes,NaN,NaN,...,NaN,NaN,NaN,NaN,550.17136,559.19826,555.80008,555.056567,<ISCED level 4>,Post-secondary
1715403,Italy,18344,Male,<ISCED level 3A>,No,No,Yes,No,14.0,13.0,...,0.0,300.0,240.0,120.0,438.23804,406.96886,490.15294,445.119947,<ISCED level 5>,NaN
160570,Spain,14988,Male,<ISCED level 3A>,No,Yes,No,No,5.0,5.0,...,0.0,165.0,220.0,165.0,370.39258,275.12910,284.53934,310.020340,Father - Highest Schooling,<ISCED level 3A>
1769130,Macao-China,2293,Male,"<ISCED level 3B, 3C>",No,No,No,Yes,3.0,1.0,...,0.0,280.0,240.0,320.0,526.10218,476.25692,531.18240,511.180500,<ISCED level 5>,NaN
376424,Peru,3538,Male,<ISCED level 3A>,NaN,NaN,Yes,NaN,5.0,2.0,...,5.0,270.0,180.0,180.0,448.36424,411.53996,421.24210,427.048767,Father - Highest Schooling,<ISCED level 3A>
3849214,Chinese Taipei,2454,Female,<ISCED level 3A>,No,No,No,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,540.27886,555.06786,526.14694,540.497887,<ISCED level 3>,Upper secondary
223826,Indonesia,2438,Female,<ISCED level 3A>,NaN,Yes,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,385.73766,366.49862,414.24840,388.828227,Father - Highest Schooling,<ISCED level 3A>
148512,Spain,2930,Male,<ISCED level 3A>,No,Yes,No,No,2.0,2.0,...,1.0,240.0,240.0,360.0,603.84016,576.41988,572.11862,584.126220,Father - Highest Schooling,<ISCED level 3A>
1288749,Mexico,2067,Female,<ISCED level 1>,No,No,No,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,353.33386,325.03566,410.23870,362.869407,<ISCED level 5>,NaN
2632007,Greece,2782,Male,<ISCED level 2>,No,No,No,No,3.0,0.0,...,0.0,NaN,NaN,180.0,505.14880,490.37118,515.60984,503.709940,<ISCED level 1>,Primary
1915305,Thailand,4459,Male,<ISCED level 2>,No,No,NaN,No,4.0,NaN,...,5.0,150.0,150.0,150.0,387.99656,337.44024,406.41550,377.284100,<ISCED level 5>,NaN
2291931,Montenegro,463,Female,<ISCED level 2>,No,No,No,NaN,1.0,1.0,...,2.0,90.0,135.0,90.0,284.47576,346.24374,285.75158,305.490360,<ISCED level 4>,NaN
1706259,Italy,9200,Male,<ISCED level 2>,NaN,NaN,NaN,NaN,10.0,6.0,...,0.0,165.0,275.0,110.0,494.71102,525.01518,534.25962,517.995273,<ISCED level 5>,NaN
122515,Colombia,8417,Female,<ISCED level 3A>,No,No,No,NaN,3.0,NaN,...,3.0,480.0,165.0,165.0,370.78206,414.15724,407.25474,397.398013,Father - Highest Schooling,<ISCED level 3A>
483021,Vietnam,2491,Male,<ISCED level 2>,No,No,NaN,No,NaN,NaN,...,NaN,450.0,270.0,135.0,628.84406,555.40890,581.25700,588.503320,Father - Highest Schooling,<ISCED level 3A>
395242,Qatar,5992,Male,<ISCED level 3A>,No,No,NaN,NaN,NaN,1.0,...,1.0,250.0,250.0,250.0,447.50740,366.71122,400.54082,404.919813,Father - Highest Schooling,<ISCED level 3A>
347962,Mexico,32260,Female,She did not complete <ISCED level 1>,No,No,No,NaN,16.0,4.0,...,5.0,225.0,180.0,225.0,470.79764,458.79748,401.65986,443.751660,Father - Highest Schooling,<ISCED level 2>
1434855,Tunisia,2893,Female,<ISCED level 1>,No,No,No,No,NaN,NaN,...,NaN,NaN,NaN,NaN,529.91898,524.56636,455.46440,503.316580,<ISCED level 5>,Short-cycle tertiary
475316,Uruguay,5079,Male,<ISCED level 1>,No,No,No,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,461.45038,399.67118,415.83364,425.651733,Father - Highest Schooling,<ISCED level 1>
464211,Tunisia,3229,Male,NaN,NaN,NaN,NaN,NaN,8.0,2.0,...,0.0,165.0,165.0,55.0,474.45864,434.95674,450.05596,453.157113,Father - Highest Schooling,NaN
585238,Switzerland,3735,Male,"<ISCED level 3B, 3C>",No,No,No,No,1.0,0.0,...,0.0,300.0,300.0,100.0,526.56956,438.96648,448.84374,471.459927,<ISCED level 6>,NaN
45717,Belgium,4331,Female,<ISCED level 3A>,No,Yes,No,No,8.0,0.0,...,0.0,250.0,200.0,NaN,476.95122,530.04708,546.19542,517.731240,Father - Highest Schooling,<ISCED level 2>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25343,Australia,3193,Female,"<ISCED level 3B, 3C>",No,No,Yes,No,NaN,NaN,...,NaN,NaN,NaN,NaN,360.26640,423.60954,386.55352,390.143153,Father - Highest Schooling,<ISCED level 2>
176621,Finland,947,Female,<ISCED level 3A>,No,Yes,No,No,5.0,2.0,...,3.0,45.0,NaN,270.0,485.28586,507.01210,495.93434,496.077433,Father - Highest Schooling,<ISCED level 3A>
3379322,Turkey,993,Female,<ISCED level 1>,No,No,No,NaN,2.0,0.0,...,0.0,180.0,90.0,90.0,392.82596,421.30604,383.10330,399.078433,<ISCED level 2>,Lower secondary
1593072,Germany,3502,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,413.62362,435.92134,459.28758,436.277513,<ISCED level 5>,NaN
2191380,Italy,8831,Female,<ISCED level 3A>,No,No,No,Yes,15.0,0.0,...,0.0,165.0,220.0,110.0,591.84452,625.36430,585.82620,601.011673,<ISCED level 4>,Post-secondary
492175,United Arab Emirates,1943,Female,<ISCED level 3A>,No,Yes,NaN,NaN,2.0,2.0,...,3.0,270.0,270.0,NaN,371.87256,409.55024,343.09956,374.840787,<ISCED level 6>,Bachelorâ€™s or equivalent
483612,Vietnam,3082,Female,She did not complete <ISCED level 1>,No,No,NaN,No,14.0,8.0,...,7.0,270.0,225.0,270.0,530.46424,448.47144,546.38194,508.439207,Father - Highest Schooling,He did not complete <ISCED level 1>
1840327,Portugal,329,Female,NaN,No,No,No,No,3.0,1.0,...,1.0,270.0,270.0,90.0,465.81242,529.96766,478.86984,491.549973,<ISCED level 5>,NaN
470263,Uruguay,26,Male,<ISCED level 3A>,No,No,No,NaN,8.0,0.0,...,0.0,160.0,160.0,400.0,571.90370,539.20962,550.29840,553.803907,Father - Highest Schooling,<ISCED level 3A>
4072644,France,4221,Female,"<ISCED level 3B, 3C>",NaN,Yes,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,499.54042,535.13066,444.74076,493.137280,<ISCED level 3>,Upper secondary
820032,Mexico,18840,Female,<ISCED level 3A>,NaN,Yes,NaN,NaN,0.0,0.0,...,0.0,270.0,180.0,270.0,577.04470,545.37728,536.87058,553.097520,<ISCED level 6>,NaN
1403966,Serbia,4665,Female,"<ISCED level 3B, 3C>",NaN,NaN,NaN,NaN,2.0,2.0,...,0.0,135.0,135.0,90.0,305.66288,335.99712,284.53934,308.733113,<ISCED level 5>,NaN
1972257,Australia,8147,Male,<ISCED level 3A>,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,292.42094,306.56532,371.91346,323.633240,<ISCED level 4>,NaN
172722,Estonia,1827,Male,<ISCED level 3A>,No,No,No,No,NaN,NaN,...,NaN,NaN,NaN,NaN,595.11604,560.54136,620.98096,592.212787,Father - Highest Schooling,NaN
1735581,Japan,411,Male,<ISCED level 2>,No,No,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,455.53048,429.34314,471.03692,451.970180,<ISCED level 5>,NaN
459381,Thailand,5005,Male,NaN,No,No,NaN,No,NaN,NaN,...,NaN,NaN,NaN,NaN,452.18102,442.17426,464.78926,453.048180,Father - Highest Schooling,NaN
1547680,Canada,16741,Male,<ISCED level 3A>,No,No,No,No,1.0,1.0,...,1.0,180.0,180.0,180.0,414.71414,456.76964,488.00822,453.164000,<ISCED level 5>,NaN
467281,Turkey,1892,Male,<ISCED level 3A>,No,No,No,NaN,7.0,3.0,...,NaN,80.0,200.0,NaN,436.36860,470.56312,491.55166,466.161127,Father - Highest Schooling,<ISCED level 1>
2127181,France,718,Male,NaN,NaN,NaN,NaN,NaN,5.0,0.0,...,NaN,180.0,180.0,NaN,517.37810,464.30796,493.50988,491.731980,<ISCED level 4>,NaN
804438,Mexico,3246,Female,She did not complete <ISCED level 1>,No,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,310.88176,285.95558,290.78702,295.874787,<ISCED level 6>,NaN
3645933,Italy,6914,Male,<ISCED level 2>,No,No,No,No,12.0,0.0,...,0.0,360.0,240.0,120.0,634.29662,570.16470,583.40170,595.954340,<ISCED level 3>,Upper secondary
1388147,Romania,4697,Female,<ISCED level 3A>,No,No,Yes,No,10.0,5.0,...,5.0,200.0,200.0,100.0,414.16886,445.77080,486.70274,448.880800,<ISCED level 5>,Short-cycle tertiary
215756,Croatia,4186,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,334.32778,305.52280,357.27342,332.374667,Father - Highest Schooling,NaN
1250731,Japan,1051,Male,<ISCED level 3A>,No,No,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,434.26546,429.10256,505.72548,456.364500,<ISCED level 5>,Short-cycle tertiary
4087846,Greece,2151,Male,<ISCED level 3A>,No,No,No,No,NaN,NaN,...,NaN,NaN,NaN,NaN,460.28198,451.23624,464.32302,458.613747,<ISCED level 3>,Upper secondary
2060948,Colombia,4890,Female,<ISCED level 3A>,No,No,No,NaN,3.0,0.0,...,0.0,240.0,240.0,NaN,415.25938,485.96290,486.04996,462.424080,<ISCED level 4>,NaN
3485156,Canada,12257,Female,<ISCED level 2>,No,No,No,Yes,5.0,0.0,...,2.0,300.0,240.0,360.0,603.13912,613.60852,598.97426,605.240633,<ISCED level 3>,Upper secondary
3921557,Austria,1006,Male,<ISCED level 3A>,No,No,Yes,No,2.0,0.0,...,0.0,135.0,135.0,180.0,531.63264,485.39908,551.97688,523.002867,<ISCED level 3>,Upper secondary
265612,Italy,25023,Male,<ISCED level 3A>,No,No,No,No,7.0,4.0,...,2.0,200.0,350.0,150.0,527.50428,506.08930,551.32412,528.305900,Father - Highest Schooling,<ISCED level 2>
62252,Brazil,6987,Female,<ISCED level 2>,No,No,No,No,NaN,NaN,...,NaN,NaN,NaN,NaN,367.66632,356.64918,350.00002,358.105173,Father - Highest Schooling,NaN

In [26]:
# Remove 'Father - Highest Schooling' since it is redundant
f_edu = f_edu[(f_edu['Completed_edu - Father'] != 'Father - Highest Schooling')]

In [27]:
# Check to see if correct values remain
f_edu['Education - Father'].value_counts()

Upper secondary             306459
Short-cycle tertiary        185130
Lower secondary              84329
Post-secondary               77265
Primary                      35938
Bachelorâ€™s or equivalent     29589
Early childhood              16535
Name: Education - Father, dtype: int64

In [28]:
# Completed_edu is no longer needed since it duplicates the information in 'Education - Father'
f_edu.drop(columns=['Completed_edu - Father'], axis=1, inplace=True)

In [29]:
# Check the column has been dropped
f_edu.sample(10)

,Country,Student ID,Gender,Mother - Highest Schooling,Mother Qualifications - ISCED level 6,Mother Qualifications - ISCED level 5A,Mother Qualifications - ISCED level 5B,Mother Qualifications - ISCED level 4,Out-of-School Study Time - Homework,Out-of-School Study Time - Guided Homework,...,Out-of-School Study Time - Commercial Company,Out-of-School Study Time - With Parent,Learning Time - Mathematics,Learning Time - Test Language,Learning Time - Science,Average_Math_Score,Average_Reading_Score,Average_Science_Score,Average_Total_Score,Education - Father
692711,Hong Kong-China,321,Male,"<ISCED level 3B, 3C>",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,502.03306,481.62994,513.65164,499.104880,NaN
1162308,United Kingdom,2212,Male,<ISCED level 3A>,No,Yes,No,No,5.0,1.0,...,0.0,1.0,240.0,240.0,320.0,538.40940,520.36392,531.36888,530.047400,Short-cycle tertiary
3729265,Mexico,15133,Female,<ISCED level 2>,No,No,No,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,337.52142,382.46426,364.73330,361.572993,Upper secondary
1840319,Portugal,321,Male,<ISCED level 1>,NaN,NaN,NaN,NaN,3.0,1.0,...,0.0,0.0,270.0,270.0,90.0,511.69184,539.93138,523.81574,525.146320,NaN
2267801,Mexico,10139,Female,She did not complete <ISCED level 1>,No,No,No,NaN,2.0,1.0,...,0.0,0.0,240.0,240.0,240.0,475.39338,475.79570,420.40284,457.197307,NaN
821502,Mexico,20310,Female,<ISCED level 2>,No,No,No,NaN,3.0,NaN,...,0.0,1.0,275.0,250.0,250.0,408.48264,441.16380,416.39314,422.013193,NaN
3935852,Bulgaria,1949,Female,"<ISCED level 3B, 3C>",NaN,NaN,Yes,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,515.74234,546.17156,511.04066,524.318187,Upper secondary
2096931,Spain,9389,Male,"<ISCED level 3B, 3C>",No,No,No,Yes,2.0,1.0,...,2.0,0.0,240.0,240.0,120.0,510.44558,467.75630,498.63854,492.280140,Post-secondary
1278277,Latvia,1236,Female,<ISCED level 3A>,NaN,NaN,NaN,Yes,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,551.02820,528.29960,550.20516,543.177653,NaN
1620857,Spain,18805,Female,<ISCED level 3A>,Yes,NaN,NaN,NaN,5.0,2.0,...,2.0,3.0,220.0,220.0,165.0,495.87940,546.01270,510.20140,517.364500,NaN

In [30]:
# Check if there are any duplicated values 
f_edu['Student ID'].duplicated().sum()

1229261

In [31]:
f_edu.dropna(inplace = True)

In [32]:
# Change datatypes into category, and put into order from lowest to highest
f_edu['Education - Father'] = f_edu['Education - Father'].astype('category')
f_edu['Education - Father'] = f_edu['Education - Father'].cat.set_categories(['Bachelorâ€™s or equivalent','Short-cycle tertiary','Post-secondary',
                                                                              'Upper secondary',
                                                                              'Lower secondary', 
                                                                              'Primary', 
                                                                              'Early childhood'], ordered=True)
f_edu.sort_values(['Education - Father'], inplace=True)

In [33]:
# Remove duplicates and keep last, which is the highest level of education for the student's father
f_edu_clean = f_edu.drop_duplicates(subset=['Student ID'], keep='first')

In [34]:
# Ensure there are no duplicates
f_edu_clean['Student ID'].duplicated().sum()

0

In [35]:
# Check the size of the dataframe - 
print(pisa['STIDSTD'].nunique(), f_edu_clean.shape)

33806 (24168, 21)

In [36]:
# Final check
f_edu.sample(100)

,Country,Student ID,Gender,Mother - Highest Schooling,Mother Qualifications - ISCED level 6,Mother Qualifications - ISCED level 5A,Mother Qualifications - ISCED level 5B,Mother Qualifications - ISCED level 4,Out-of-School Study Time - Homework,Out-of-School Study Time - Guided Homework,...,Out-of-School Study Time - Commercial Company,Out-of-School Study Time - With Parent,Learning Time - Mathematics,Learning Time - Test Language,Learning Time - Science,Average_Math_Score,Average_Reading_Score,Average_Science_Score,Average_Total_Score,Education - Father
3301055,Portugal,4587,Male,<ISCED level 3A>,No,No,No,No,5.0,1.0,...,0.0,0.0,225.0,225.0,90.0,566.99642,529.98726,562.60724,553.196973,Lower secondary
1564701,Chile,989,Male,<ISCED level 3A>,No,Yes,No,No,5.0,1.0,...,0.0,0.0,315.0,270.0,135.0,473.13442,479.06374,504.32672,485.508293,Short-cycle tertiary
2583079,Spain,10047,Female,<ISCED level 2>,No,No,No,No,1.0,1.0,...,0.0,0.0,220.0,220.0,220.0,428.57922,420.03512,459.28758,435.967307,Primary
4061615,Finland,2021,Male,"<ISCED level 3B, 3C>",No,No,Yes,No,1.0,1.0,...,0.0,0.0,225.0,180.0,135.0,494.71104,536.64340,566.61692,532.657120,Upper secondary
3485389,Canada,12490,Male,<ISCED level 3A>,No,No,No,No,1.0,0.0,...,0.0,0.0,300.0,300.0,300.0,670.28354,632.15506,661.07796,654.505520,Upper secondary
2306028,Norway,159,Male,"<ISCED level 3B, 3C>",No,No,Yes,Yes,2.0,1.0,...,0.0,1.0,150.0,150.0,100.0,568.00902,538.32748,565.87094,557.402480,Post-secondary
3494067,Canada,21168,Male,<ISCED level 3A>,No,Yes,No,No,2.0,1.0,...,0.0,0.0,375.0,375.0,375.0,571.28056,508.17434,507.87020,529.108367,Upper secondary
3807667,Connecticut (USA),187,Female,<ISCED level 3A>,No,No,No,No,7.0,0.0,...,0.0,0.0,235.0,235.0,235.0,546.97772,582.23326,560.18276,563.131247,Upper secondary
4263465,Poland,624,Male,"<ISCED level 3B, 3C>",No,No,No,No,15.0,1.0,...,3.0,0.0,225.0,270.0,180.0,636.63344,563.02736,632.17084,610.610547,Upper secondary
3806256,Florida (USA),672,Male,<ISCED level 2>,No,No,No,No,13.0,0.0,...,0.0,0.0,235.0,235.0,235.0,511.69184,545.38460,588.34390,548.473447,Upper secondary
1015383,Belgium,3017,Female,<ISCED level 3A>,No,Yes,No,No,15.0,0.0,...,0.0,0.0,250.0,200.0,300.0,593.32450,604.15622,601.49200,599.657573,Short-cycle tertiary
1688356,Ireland,4876,Male,<ISCED level 2>,No,No,No,No,15.0,0.0,...,0.0,1.0,200.0,200.0,120.0,645.12386,652.60466,631.98430,643.237607,Short-cycle tertiary
3657491,Italy,18472,Female,"<ISCED level 3B, 3C>",No,No,No,Yes,10.0,7.0,...,0.0,6.0,150.0,200.0,100.0,496.58048,527.82302,530.52966,518.311053,Upper secondary
1168061,United Kingdom,7965,Female,"<ISCED level 3B, 3C>",No,Yes,Yes,No,2.0,0.0,...,0.0,0.0,200.0,200.0,350.0,558.97336,592.24156,508.33644,553.183787,Short-cycle tertiary
2024997,Canada,8568,Male,<ISCED level 3A>,Yes,No,Yes,No,5.0,1.0,...,0.0,1.0,440.0,440.0,440.0,493.23102,497.02730,530.52964,506.929320,Post-secondary
2246751,Luxembourg,3988,Male,<ISCED level 3A>,No,No,No,No,16.0,0.0,...,0.0,0.0,200.0,150.0,100.0,422.50354,459.41608,384.03582,421.985147,Post-secondary
1618950,Spain,16898,Male,<ISCED level 2>,No,No,No,No,12.0,0.0,...,0.0,0.0,180.0,240.0,0.0,528.75058,515.79282,492.67064,512.404680,Short-cycle tertiary
1652616,United Kingdom,7030,Female,"<ISCED level 3B, 3C>",No,No,Yes,Yes,2.0,1.0,...,0.0,1.0,150.0,150.0,150.0,413.07836,454.90536,437.28088,435.088200,Short-cycle tertiary
3602862,Greece,2657,Male,<ISCED level 3A>,No,Yes,No,No,8.0,2.0,...,0.0,0.0,180.0,180.0,225.0,480.92380,532.71386,544.61022,519.415960,Upper secondary
578050,Canada,18091,Male,<ISCED level 3A>,No,Yes,No,No,4.0,3.0,...,0.0,2.0,450.0,450.0,450.0,439.71800,358.61160,456.21038,418.179993,Bachelorâ€™s or equivalent
4035428,Spain,5926,Female,<ISCED level 3A>,No,Yes,No,No,3.0,0.0,...,0.0,0.0,200.0,200.0,200.0,587.87194,594.30678,599.44052,593.873080,Upper secondary
4019135,Germany,2115,Female,"<ISCED level 3B, 3C>",No,No,No,Yes,3.0,0.0,...,1.0,0.0,225.0,180.0,270.0,509.74450,498.67186,553.46886,520.628407,Upper secondary
4041164,Spain,11662,Female,"<ISCED level 3B, 3C>",No,Yes,No,No,10.0,0.0,...,4.0,2.0,180.0,240.0,300.0,563.10176,617.10348,594.87130,591.692180,Upper secondary
4322140,Slovenia,537,Female,"<ISCED level 3B, 3C>",No,No,No,Yes,1.0,1.0,...,1.0,1.0,90.0,135.0,90.0,339.39088,329.40436,350.93248,339.909240,Upper secondary
1605963,Spain,3911,Male,<ISCED level 3A>,No,Yes,Yes,No,8.0,0.0,...,4.0,2.0,240.0,180.0,0.0,483.96170,477.54002,466.56098,476.020900,Short-cycle tertiary
1557801,Switzerland,5318,Male,<ISCED level 3A>,No,Yes,No,No,20.0,10.0,...,0.0,1.0,180.0,180.0,90.0,694.66428,657.41634,694.36778,682.149467,Short-cycle tertiary
642500,Spain,11428,Female,<ISCED level 3A>,Yes,Yes,No,No,1.0,0.0,...,0.0,1.0,200.0,200.0,150.0,596.98552,554.98842,578.73928,576.904407,Bachelorâ€™s or equivalent
3405060,United Arab Emirates,1888,Male,<ISCED level 3A>,No,Yes,No,No,3.0,1.0,...,3.0,1.0,270.0,270.0,315.0,345.38870,387.16082,435.41588,389.321800,Upper secondary
3877622,United States of America,3640,Male,<ISCED level 2>,No,No,No,No,1.0,0.0,...,0.0,0.0,225.0,225.0,250.0,528.36112,567.27770,561.76798,552.468933,Upper secondary
1995633,Bulgaria,3690,Male,<ISCED level 3A>,No,Yes,No,Yes,3.0,2.0,...,0.0,0.0,180.0,180.0,225.0,506.00560,547.87060,536.49758,530.124593,Post-secondary
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2202307,Italy,19758,Male,<ISCED level 3A>,No,No,No,Yes,7.0,1.0,...,0.0,1.0,240.0,240.0,120.0,507.01824,524.77460,567.36290,533.051913,Post-secondary
3798493,Qatar,10813,Female,<ISCED level 3A>,No,No,Yes,No,4.0,4.0,...,0.0,4.0,275.0,275.0,275.0,326.84998,354.34568,365.29280,348.829487,Upper secondary
3474087,Canada,1188,Male,<ISCED level 3A>,No,Yes,Yes,No,1.0,0.0,...,0.0,0.0,292.0,219.0,292.0,634.14084,643.86344,632.54386,636.849380,Upper secondary
1019851,Belgium,7485,Female,"<ISCED level 3B, 3C>",No,Yes,No,No,1.0,1.0,...,0.0,0.0,240.0,240.0,240.0,469.78500,466.66114,423.85308,453.433073,Short-cycle tertiary
2132341,United Kingdom,1265,Male,"<ISCED level 3B, 3C>",No,No,No,No,1.0,0.0,...,0.0,0.0,180.0,180.0,180.0,428.89080,447.38690,497.79932,458.025673,Post-secondary
3522738,Costa Rica,1137,Female,<ISCED level 3A>,No,No,No,Yes,2.0,0.0,...,0.0,1.0,240.0,200.0,200.0,430.13710,481.19702,471.59640,460.976840,Upper secondary
2635340,Hong Kong-China,990,Female,She did not complete <ISCED level 1>,No,No,No,No,1.0,0.0,...,0.0,0.0,240.0,240.0,240.0,510.13398,541.24686,526.89294,526.091260,Primary
2827569,Qatar,10869,Male,<ISCED level 2>,No,No,No,No,1.0,0.0,...,0.0,0.0,275.0,165.0,165.0,379.66194,401.59582,398.67586,393.311207,Primary
3162045,Italy,8516,Female,<ISCED level 2>,No,No,No,No,1.0,0.0,...,0.0,0.0,100.0,200.0,100.0,358.39696,427.34278,416.67288,400.804207,Lower secondary
1065816,Canada,20367,Male,<ISCED level 3A>,No,No,Yes,No,2.0,0.0,...,0.0,0.0,225.0,225.0,300.0,697.93582,631.67388,631.70460,653.771433,Short-cycle tertiary
2092380,Spain,4838,Female,"<ISCED level 3B, 3C>",No,No,No,Yes,2.0,0.0,...,0.0,1.0,220.0,220.0,165.0,474.69232,540.13482,494.81538,503.214173,Post-secondary
1222680,Italy,11111,Female,"<ISCED level 3B, 3C>",No,Yes,No,No,15.0,5.0,...,0.0,0.0,275.0,275.0,220.0,449.61054,518.45018,459.47408,475.844933,Short-cycle tertiary
1560777,Switzerland,8294,Male,"<ISCED level 3B, 3C>",No,No,Yes,No,7.0,0.0,...,0.0,1.0,250.0,300.0,100.0,608.51380,552.76248,593.56582,584.947367,Short-cycle tertiary
2246656,Luxembourg,3893,Male,"<ISCED level 3B, 3C>",No,No,No,Yes,10.0,10.0,...,0.0,3.0,90.0,0.0,90.0,553.36502,504.72596,541.99924,533.363407,Post-secondary
4027579,Denmark,5558,Female,<ISCED level 3A>,No,No,Yes,No,2.0,0.0,...,0.0,0.0,225.0,270.0,225.0,593.24664,519.56218,606.71390,573.174240,Upper secondary
3562294,Spain,18282,Male,<ISCED level 3A>,No,No,No,No,5.0,0.0,...,0.0,2.0,165.0,165.0,440.0,421.72456,381.46700,416.95264,406.714733,Upper secondary
1199473,Ireland,1483,Female,"<ISCED level 3B, 3C>",No,Yes,No,Yes,4.0,3.0,...,2.0,3.0,150.0,175.0,150.0,393.83862,375.31546,364.45354,377.869207,Short-cycle tertiary
4076980,United Kingdom,3944,Female,"<ISCED level 3B, 3C>",No,No,Yes,No,1.0,0.0,...,0.0,0.0,180.0,240.0,300.0,532.25580,580.64464,604.84894,572.583127,Upper secondary
3525395,Costa Rica,3794,Male,She did not complete <ISCED level 1>,No,No,No,No,1.0,0.0,...,0.0,0.0,240.0,240.0,240.0,414.86992,440.08920,469.35844,441.439187,Upper secondary
3899057,United Arab Emirates,10395,Female,<ISCED level 3A>,No,Yes,No,No,30.0,2.0,...,0.0,0.0,300.0,300.0,350.0,534.20316,557.76850,582.74896,558.240207,Upper secondary
2592171,Spain,19139,Female,<ISCED level 2>,No,No,No,No,3.0,3.0,...,3.0,0.0,150.0,150.0,150.0,433.40864,447.91544,505.25926,462.194447,Primary
2240189,Lithuania,2044,Male,<ISCED level 3A>,No,Yes,No,No,4.0,0.0,...,5.0,2.0,180.0,225.0,315.0,642.63126,542.01640,607.64640,597.431353,Post-secondary
2182462,Israel,4968,Male,<ISCED level 3A>,No,Yes,Yes,Yes,5.0,1.0,...,0.0,0.0,225.0,225.0,90.0,539.65570,567.75886,532.39462,546.603060,Post-secondary
977282,United Arab Emirates,1560,Male,<ISCED level 3A>,Yes,Yes,No,No,4.0,1.0,...,0.0,0.0,225.0,270.0,765.0,554.14394,513.54738,550.48490,539.392073,Short-cycle tertiary
1543969,Canada,13030,Male,<ISCED level 3A>,No,No,No,No,5.0,0.0,...,0.0,0.0,300.0,300.0,300.0,565.67220,542.09660,570.06714,559.278647,Short-cycle tertiary
2854517,Singapore,4292,Female,<ISCED level 1>,No,No,No,No,2.0,2.0,...,2.0,1.0,300.0,300.0,180.0,453.66100,455.93792,363.61432,424.404413,Primary
1546150,Canada,15211,Female,<ISCED level 3A>,No,Yes,Yes,No,1.0,0.0,...,0.0,1.0,300.0,300.0,300.0,531.24318,500.33988,508.42970,513.337587,Short-cycle tertiary
1003300,Australia,10170,Male,<ISCED level 1>,No,No,No,No,13.0,1.0,...,0.0,0.0,220.0,220.0,220.0,510.13396,554.12578,543.86422,536.041320,Short-cycle tertiary
4255377,New Zealand,2862,Female,<ISCED level 2>,No,No,No,No,24.0,2.0,...,0.0,1.0,180.0,135.0,135.0,383.71242,436.71566,350.55948,390.329187,Upper secondary
678349,United Kingdom,3743,Male,<ISCED level 3A>,Yes,Yes,Yes,Yes,4.0,1.0,...,0.0,2.0,180.0,180.0,240.0,440.41908,438.72592,477.75084,452.298613,Bachelorâ€™s or equivalent

### There are multiple columns for single variables related to mother's education
Precisely the same interaction for the mother's edu. is followed with respect to the father's edu.

In [37]:
# make a copy
m_edu = f_edu_clean.copy()

In [38]:
m_edu.head()

,Country,Student ID,Gender,Mother - Highest Schooling,Mother Qualifications - ISCED level 6,Mother Qualifications - ISCED level 5A,Mother Qualifications - ISCED level 5B,Mother Qualifications - ISCED level 4,Out-of-School Study Time - Homework,Out-of-School Study Time - Guided Homework,...,Out-of-School Study Time - Commercial Company,Out-of-School Study Time - With Parent,Learning Time - Mathematics,Learning Time - Test Language,Learning Time - Science,Average_Math_Score,Average_Reading_Score,Average_Science_Score,Average_Total_Score,Education - Father
485493,Albania,4,Female,"<ISCED level 3B, 3C>",No,No,No,No,10.0,2.0,...,0.0,0.0,135.0,135.0,90.0,449.45476,477.46376,453.97240,460.296973,Bachelorâ€™s or equivalent
731111,Italy,5032,Male,"<ISCED level 3B, 3C>",No,No,No,Yes,4.0,1.0,...,0.0,1.0,250.0,300.0,100.0,430.91604,422.68700,439.42560,431.009547,Bachelorâ€™s or equivalent
730790,Italy,4711,Female,<ISCED level 3A>,Yes,Yes,No,No,22.0,2.0,...,0.0,0.0,220.0,220.0,110.0,546.58826,600.74068,542.83850,563.389147,Bachelorâ€™s or equivalent
730787,Italy,4708,Male,"<ISCED level 3B, 3C>",No,Yes,No,No,14.0,6.0,...,0.0,6.0,250.0,150.0,100.0,588.18352,561.42350,602.70420,584.103740,Bachelorâ€™s or equivalent
730785,Italy,4706,Female,<ISCED level 3A>,No,No,No,No,18.0,2.0,...,0.0,0.0,275.0,220.0,110.0,541.99254,540.37312,522.41698,534.927547,Bachelorâ€™s or equivalent

In [39]:
# Compare original dataframe to father dataframe
print(pisa_c['Mother - Highest Schooling'].value_counts())
print('-'*100)
print(m_edu['Mother - Highest Schooling'].value_counts())

<ISCED level 3A>                         236993
<ISCED level 3B, 3C>                      83048
<ISCED level 2>                           82614
<ISCED level 1>                           36556
She did not complete <ISCED level 1>      18768
Name: Mother - Highest Schooling, dtype: int64
----------------------------------------------------------------------------------------------------
<ISCED level 3A>                         15383
<ISCED level 3B, 3C>                      4057
<ISCED level 2>                           3964
<ISCED level 1>                            588
She did not complete <ISCED level 1>       176
Name: Mother - Highest Schooling, dtype: int64

In [40]:
# Split column up with dummies
m_edu[['<ISCED level 1>', 
            '<ISCED level 2>', 
            '<ISCED level 3A>', 
            '<ISCED level 3B, 3C>', 
            'She did not complete <ISCED level 1>']] = pd.get_dummies(m_edu['Mother - Highest Schooling'])

In [41]:
# Rename the columns for consistency and to remove subcategorization of levels
m_edu.rename({'She did not complete <ISCED level 1>': '<ISCED level 0>',
                   '<ISCED level 3A>': '<ISCED level 3>', 
                   '<ISCED level 3B, 3C>': '<ISCED level 3>',
                   'Mother Qualifications - ISCED level 4': '<ISCED level 4>',
                   'Mother Qualifications - ISCED level 5A': '<ISCED level 5>',
                   'Mother Qualifications - ISCED level 5B': '<ISCED level 5>',
                   'Mother Qualifications - ISCED level 6': '<ISCED level 6>'}, axis='columns', inplace=True)

In [42]:
# Change datatypes from ints into strings for dummy columns
m_edu['<ISCED level 0>'] = m_edu['<ISCED level 0>'].astype(str)
m_edu['<ISCED level 1>'] = m_edu['<ISCED level 1>'].astype(str)
m_edu['<ISCED level 2>'] = m_edu['<ISCED level 2>'].astype(str)
m_edu['<ISCED level 3>'] = m_edu['<ISCED level 3>'].astype(str)

In [43]:
# Change values from '1's and 'Yes's to the corresponding level to prepare for the melt
m_edu['<ISCED level 0>'] = m_edu['<ISCED level 0>'].replace(regex='1', value='Early childhood')
m_edu['<ISCED level 1>'] = m_edu['<ISCED level 1>'].replace(regex='1', value='Primary')
m_edu['<ISCED level 2>'] = m_edu['<ISCED level 2>'].replace(regex='1', value='Lower secondary')
m_edu['<ISCED level 3>'] = m_edu['<ISCED level 3>'].replace(regex='1', value='Upper secondary')
m_edu['<ISCED level 4>'] = m_edu['<ISCED level 4>'].replace(regex='Yes', value='Post-secondary')
m_edu['<ISCED level 5>'] = m_edu['<ISCED level 5>'].replace(regex='Yes', value='Short-cycle tertiary')
m_edu['<ISCED level 6>'] = m_edu['<ISCED level 6>'].replace(regex='Yes', value='Bachelorâ€™s or equivalent')

In [44]:
m_edu.sample(10)

,Country,Student ID,Gender,Mother - Highest Schooling,<ISCED level 6>,<ISCED level 5>,<ISCED level 5>,<ISCED level 4>,Out-of-School Study Time - Homework,Out-of-School Study Time - Guided Homework,...,Average_Math_Score,Average_Reading_Score,Average_Science_Score,Average_Total_Score,Education - Father,<ISCED level 1>,<ISCED level 2>,<ISCED level 3>,<ISCED level 3>,<ISCED level 0>
2111318,Spain,23776,Male,She did not complete <ISCED level 1>,No,No,No,No,2.0,0.0,...,440.57484,350.35154,476.16562,422.364000,Post-secondary,0,0,0,0,Early childhood
897325,Massachusetts (USA),1088,Male,<ISCED level 3A>,No,No,Short-cycle tertiary,No,6.0,0.0,...,576.81102,551.63978,583.68146,570.710753,Bachelorâ€™s or equivalent,0,0,Upper secondary,0,0
1552830,Switzerland,347,Female,"<ISCED level 3B, 3C>",No,No,Short-cycle tertiary,No,10.0,1.0,...,544.79670,520.51534,530.06340,531.791813,Short-cycle tertiary,0,0,0,Upper secondary,0
900153,Romania,2193,Male,<ISCED level 3A>,No,No,Short-cycle tertiary,Post-secondary,2.0,0.0,...,678.92974,589.57176,654.92354,641.141680,Bachelorâ€™s or equivalent,0,0,Upper secondary,0,0
1567452,Chile,3740,Female,<ISCED level 3A>,No,No,No,No,5.0,2.0,...,378.33772,473.73052,455.83740,435.968547,Short-cycle tertiary,0,0,Upper secondary,0,0
719294,Iceland,1778,Female,"<ISCED level 3B, 3C>",No,No,Short-cycle tertiary,No,4.0,3.0,...,519.01388,572.86038,498.54532,530.139860,Bachelorâ€™s or equivalent,0,0,0,Upper secondary,0
1863316,Perm(Russian Federation),1453,Female,"<ISCED level 3B, 3C>",No,No,Short-cycle tertiary,Post-secondary,3.0,2.0,...,540.90202,501.53134,507.59046,516.674607,Short-cycle tertiary,0,0,0,Upper secondary,0
1501475,Belgium,3619,Male,<ISCED level 3A>,No,Short-cycle tertiary,Short-cycle tertiary,No,6.0,0.0,...,629.70090,616.99826,595.89704,614.198733,Short-cycle tertiary,0,0,Upper secondary,0,0
1125389,Spain,8827,Male,<ISCED level 3A>,No,No,No,No,9.0,0.0,...,528.67268,512.58504,566.98994,536.082553,Short-cycle tertiary,0,0,Upper secondary,0,0
1127974,Spain,11412,Female,<ISCED level 3A>,No,Short-cycle tertiary,No,No,6.0,0.0,...,554.22182,561.81950,531.83514,549.292153,Short-cycle tertiary,0,0,Upper secondary,0,0

In [45]:
# Combine all columns into one variable column
m_edu = pd.melt(m_edu, 
                     id_vars=['Country','Student ID', 'Gender',
                            'Out-of-School Study Time - Homework',
                            'Out-of-School Study Time - Guided Homework',
                            'Out-of-School Study Time - Personal Tutor',
                            'Out-of-School Study Time - Commercial Company',
                            'Out-of-School Study Time - With Parent',
                            'Learning Time - Mathematics',
                            'Learning Time - Test Language',
                            'Learning Time - Science',
                            'Average_Math_Score',
                            'Average_Reading_Score',
                            'Average_Science_Score',
                            'Average_Total_Score',
                             'Education - Father'], var_name='Completed_edu - Mother', value_name='Education - Mother')

In [46]:
m_edu.sample(10)

,Country,Student ID,Gender,Out-of-School Study Time - Homework,Out-of-School Study Time - Guided Homework,Out-of-School Study Time - Personal Tutor,Out-of-School Study Time - Commercial Company,Out-of-School Study Time - With Parent,Learning Time - Mathematics,Learning Time - Test Language,Learning Time - Science,Average_Math_Score,Average_Reading_Score,Average_Science_Score,Average_Total_Score,Education - Father,Completed_edu - Mother,Education - Mother
107571,Brazil,16129,Male,5.0,3.0,0.0,0.0,6.0,150.0,200.0,100.0,402.32902,375.69302,406.13578,394.719273,Short-cycle tertiary,<ISCED level 4>,No
223604,Switzerland,8867,Male,10.0,0.0,0.0,0.0,0.0,225.0,225.0,90.0,504.75928,470.24232,492.85712,489.286240,Short-cycle tertiary,<ISCED level 0>,0
109186,Switzerland,7676,Male,4.0,0.0,0.0,0.0,1.0,225.0,225.0,90.0,695.98848,609.46000,637.85898,647.769153,Short-cycle tertiary,<ISCED level 4>,No
200977,Spain,17523,Female,4.0,4.0,4.0,7.0,1.0,150.0,150.0,300.0,571.59216,592.08272,629.46664,597.713840,Short-cycle tertiary,<ISCED level 3>,0
211450,Italy,13409,Male,10.0,0.0,0.0,1.0,0.0,300.0,240.0,120.0,517.06654,462.70406,465.72176,481.830787,Upper secondary,<ISCED level 3>,0
81276,Spain,6024,Male,8.0,3.0,3.0,3.0,0.0,200.0,180.0,300.0,495.64572,508.97630,468.42596,491.015993,Short-cycle tertiary,<ISCED level 5>,No
41994,Spain,21684,Female,8.0,2.0,4.0,4.0,0.0,165.0,220.0,165.0,542.61566,492.31736,540.22752,525.053513,Post-secondary,<ISCED level 6>,No
19280,Italy,28769,Male,12.0,1.0,1.0,0.0,0.0,165.0,220.0,110.0,507.25192,536.00184,531.08912,524.780960,Upper secondary,Mother - Highest Schooling,<ISCED level 3A>
91001,Spain,15773,Male,3.0,0.0,0.0,0.0,0.0,165.0,165.0,165.0,450.38946,402.87894,457.04960,436.772667,Upper secondary,<ISCED level 5>,No
232351,Italy,17953,Female,1.0,0.0,0.0,0.0,0.0,150.0,350.0,100.0,383.16716,495.89174,348.32152,409.126807,Short-cycle tertiary,<ISCED level 0>,0

In [47]:
# Remove all cases from melt where the education of the mother is either '0' or 'No'
m_edu = m_edu[(m_edu['Education - Mother'] != '0')] 
m_edu = m_edu[(m_edu['Education - Mother'] != 'No')]

In [48]:
# Check to see if 0's and No's have been removed
m_edu.sample(70)

,Country,Student ID,Gender,Out-of-School Study Time - Homework,Out-of-School Study Time - Guided Homework,Out-of-School Study Time - Personal Tutor,Out-of-School Study Time - Commercial Company,Out-of-School Study Time - With Parent,Learning Time - Mathematics,Learning Time - Test Language,Learning Time - Science,Average_Math_Score,Average_Reading_Score,Average_Science_Score,Average_Total_Score,Education - Father,Completed_edu - Mother,Education - Mother
20885,Canada,18237,Male,3.0,0.0,0.0,0.0,0.0,350.0,350.0,350.0,530.93162,522.28858,561.30174,538.173980,Upper secondary,Mother - Highest Schooling,<ISCED level 3A>
14388,Russian Federation,671,Male,6.0,3.0,0.0,2.0,0.0,180.0,135.0,270.0,445.63794,483.79522,430.93996,453.457707,Short-cycle tertiary,Mother - Highest Schooling,<ISCED level 2>
182547,Spain,10273,Female,3.0,1.0,0.0,0.0,0.0,165.0,165.0,165.0,602.74964,575.00502,593.65906,590.471240,Short-cycle tertiary,<ISCED level 3>,Upper secondary
181644,Italy,21620,Male,8.0,8.0,0.0,0.0,8.0,300.0,240.0,120.0,417.67408,431.18762,439.42560,429.429100,Short-cycle tertiary,<ISCED level 3>,Upper secondary
119012,Italy,27987,Female,10.0,2.0,0.0,0.0,5.0,200.0,300.0,100.0,442.13274,478.09922,470.19768,463.476547,Lower secondary,<ISCED level 4>,Post-secondary
17829,Spain,21667,Male,5.0,5.0,0.0,0.0,0.0,165.0,220.0,165.0,606.80012,528.46356,577.71354,570.992407,Post-secondary,Mother - Highest Schooling,<ISCED level 3A>
109479,Spain,19625,Female,1.0,0.0,4.0,4.0,0.0,165.0,165.0,165.0,551.26188,511.77794,480.36182,514.467213,Short-cycle tertiary,<ISCED level 4>,Post-secondary
454,Iceland,1483,Male,5.0,2.0,1.0,0.0,1.0,240.0,240.0,160.0,532.64528,492.69678,516.72884,514.023633,Bachelorâ€™s or equivalent,Mother - Highest Schooling,<ISCED level 3A>
97068,Israel,993,Male,3.0,0.0,0.0,0.0,0.0,315.0,90.0,270.0,597.21920,557.57414,600.27974,585.024360,Bachelorâ€™s or equivalent,<ISCED level 4>,Post-secondary
13318,Spain,10753,Male,2.0,0.0,3.0,3.0,1.0,220.0,220.0,385.0,531.78844,493.41856,539.66802,521.625007,Short-cycle tertiary,Mother - Highest Schooling,<ISCED level 2>
183269,Canada,18474,Male,1.0,0.0,0.0,0.0,1.0,300.0,300.0,300.0,500.70882,491.73446,470.47744,487.640240,Short-cycle tertiary,<ISCED level 3>,Upper secondary
211522,Switzerland,10783,Female,3.0,1.0,1.0,0.0,2.0,225.0,270.0,90.0,528.67270,535.44838,523.81574,529.312273,Upper secondary,<ISCED level 3>,Upper secondary
3691,Canada,3887,Female,1.0,0.0,0.0,0.0,0.0,600.0,600.0,600.0,462.22932,503.91428,488.75420,484.965933,Bachelorâ€™s or equivalent,Mother - Highest Schooling,<ISCED level 3A>
160444,Italy,21408,Female,18.0,0.0,0.0,0.0,0.0,240.0,240.0,120.0,598.85496,590.33522,606.52742,598.572533,Short-cycle tertiary,<ISCED level 2>,Lower secondary
26560,Norway,3365,Male,7.0,5.0,0.0,0.0,0.0,180.0,225.0,135.0,464.25456,470.24232,446.04624,460.181040,Bachelorâ€™s or equivalent,<ISCED level 6>,Bachelorâ€™s or equivalent
9490,Austria,1787,Female,3.0,2.0,2.0,0.0,0.0,120.0,120.0,180.0,305.74076,357.44350,348.60126,337.261840,Short-cycle tertiary,Mother - Highest Schooling,"<ISCED level 3B, 3C>"
5,Italy,4585,Male,18.0,0.0,0.0,0.0,0.0,275.0,220.0,110.0,629.23354,601.36036,583.86798,604.820627,Bachelorâ€™s or equivalent,Mother - Highest Schooling,<ISCED level 3A>
4986,Canada,20488,Female,18.0,0.0,0.0,0.0,0.0,350.0,350.0,350.0,486.61004,558.80114,495.84110,513.750760,Bachelorâ€™s or equivalent,Mother - Highest Schooling,<ISCED level 3A>
188064,Italy,20785,Female,16.0,3.0,0.0,2.0,0.0,250.0,200.0,100.0,479.13228,557.53024,497.89258,511.518367,Upper secondary,<ISCED level 3>,Upper secondary
180553,United States of America,4807,Male,6.0,1.0,0.0,0.0,2.0,250.0,250.0,250.0,572.76056,566.39556,590.39538,576.517167,Short-cycle tertiary,<ISCED level 3>,Upper secondary
167426,Italy,27343,Male,1.0,0.0,4.0,0.0,1.0,240.0,240.0,120.0,464.02086,498.71138,476.25886,479.663700,Lower secondary,<ISCED level 2>,Lower secondary
171473,Slovenia,2284,Male,10.0,2.0,2.0,1.0,0.0,180.0,180.0,270.0,557.64916,570.64588,598.32152,575.538853,Bachelorâ€™s or equivalent,<ISCED level 3>,Upper secondary
11148,Qatar,10636,Female,14.0,0.0,0.0,0.0,2.0,240.0,300.0,480.0,631.41456,581.99496,635.80754,616.405687,Short-cycle tertiary,Mother - Highest Schooling,<ISCED level 3A>
61963,Australia,12643,Male,3.0,1.0,0.0,0.0,0.0,240.0,240.0,240.0,714.44928,736.72870,751.24954,734.142507,Short-cycle tertiary,<ISCED level 5>,Short-cycle tertiary
19868,Denmark,5863,Female,3.0,0.0,0.0,0.0,3.0,180.0,270.0,180.0,517.61178,562.77266,521.20478,533.863073,Upper secondary,Mother - Highest Schooling,<ISCED level 3A>
164578,Italy,25141,Male,1.0,1.0,1.0,0.0,0.0,220.0,330.0,110.0,543.62828,535.60086,607.55314,562.260760,Upper secondary,<ISCED level 2>,Lower secondary
8261,Finland,209,Male,4.0,0.0,0.0,0.0,0.0,135.0,135.0,135.0,504.75932,470.56312,510.57440,495.298947,Short-cycle tertiary,Mother - Highest Schooling,<ISCED level 3A>
16667,Canada,10679,Male,2.0,0.0,0.0,0.0,0.0,375.0,375.0,375.0,420.24460,407.12922,473.83440,433.736073,Post-secondary,Mother - Highest Schooling,<ISCED level 2>
89464,Switzerland,9538,Male,8.0,3.0,3.0,1.0,1.0,225.0,270.0,90.0,474.30286,415.38930,434.94964,441.547267,Post-secondary,<ISCED level 5>,Short-cycle tertiary
10797,Belgium,8196,Female,6.0,0.0,0.0,0.0,0.0,150.0,150.0,150.0,397.57754,468.01144,378.72060,414.769860,Short-cycle tertiary,Mother - Highest Schooling,"<ISCED level 3B, 3C>"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2719,Qatar,5466,Female,10.0,0.0,0.0,0.0,4.0,250.0,200.0,450.0,478.11964,557.60964,486.70274,507.477340,Bachelorâ€™s or equivalent,Mother - Highest Schooling,<ISCED level 3A>
200604,Switzerland,5585,Female,3.0,0.0,0.0,0.0,1.0,180.0,270.0,180.0,463.94298,463.16618,464.32302,463.810727,Short-cycle tertiary,<ISCED level 3>,Upper secondary
199532,Switzerland,8048,Female,2.0,2.0,3.0,0.0,0.0,225.0,225.0,90.0,478.04176,551.97004,503.30102,511.104273,Short-cycle tertiary,<ISCED level 3>,Upper secondary
190438,Spain,17269,Female,10.0,1.0,0.0,4.0,0.0,150.0,200.0,150.0,597.29708,572.30438,553.56212,574.387860,Lower secondary,<ISCED level 3>,Upper secondary
8398,Spain,22775,Female,9.0,0.0,0.0,0.0,1.0,220.0,165.0,165.0,513.01604,579.77092,538.82880,543.871920,Short-cycle tertiary,Mother - Highest Schooling,<ISCED level 2>
65216,Canada,21491,Male,1.0,0.0,0.0,0.0,0.0,325.0,325.0,325.0,543.31672,575.37732,617.62402,578.772687,Post-secondary,<ISCED level 5>,Short-cycle tertiary
67287,Italy,16052,Female,14.0,2.0,1.0,0.0,2.0,300.0,360.0,120.0,622.22308,620.20126,601.21222,614.545520,Upper secondary,<ISCED level 5>,Short-cycle tertiary
139074,Spain,22896,Male,10.0,4.0,0.0,4.0,0.0,150.0,150.0,150.0,580.47204,498.71138,551.97688,543.720100,Upper secondary,<ISCED level 1>,Primary
99299,Malaysia,320,Male,2.0,2.0,1.0,2.0,2.0,200.0,240.0,200.0,410.19628,332.54834,373.49870,372.081107,Bachelorâ€™s or equivalent,<ISCED level 4>,Post-secondary
171863,Qatar,7267,Female,4.0,3.0,5.0,0.0,2.0,225.0,225.0,135.0,382.07666,454.26988,431.12646,422.491000,Bachelorâ€™s or equivalent,<ISCED level 3>,Upper secondary
18800,Italy,19201,Female,20.0,3.0,1.0,0.0,3.0,180.0,420.0,120.0,482.55958,531.55626,493.88286,502.666233,Upper secondary,Mother - Highest Schooling,<ISCED level 3A>
175773,Canada,18467,Female,1.0,0.0,0.0,0.0,0.0,300.0,300.0,150.0,543.47248,575.79934,557.38532,558.885713,Short-cycle tertiary,<ISCED level 3>,Upper secondary
2536,Macao-China,3845,Male,10.0,1.0,2.0,0.0,3.0,240.0,240.0,240.0,334.63934,314.74518,345.61730,331.667273,Bachelorâ€™s or equivalent,Mother - Highest Schooling,<ISCED level 3A>
104465,Spain,20843,Male,4.0,0.0,4.0,4.0,0.0,220.0,220.0,330.0,634.84190,604.32756,627.69488,622.288113,Short-cycle tertiary,<ISCED level 4>,Post-secondary
19631,Italy,25409,Male,12.0,0.0,0.0,4.0,0.0,240.0,360.0,0.0,492.37422,475.69554,470.94368,479.671147,Upper secondary,Mother - Highest Schooling,<ISCED level 3A>
14798,Italy,20341,Female,5.0,0.0,0.0,0.0,0.0,165.0,220.0,110.0,471.57654,481.19704,519.89930,490.890960,Short-cycle tertiary,Mother - Highest Schooling,<ISCED level 3A>
8443,Spain,23571,Female,7.0,0.0,0.0,0.0,0.0,200.0,150.0,250.0,513.01604,544.10638,543.58448,533.568967,Short-cycle tertiary,Mother - Highest Schooling,<ISCED level 3A>
20842,Canada,18429,Male,1.0,0.0,0.0,0.0,0.0,300.0,300.0,300.0,381.76504,410.09646,420.58932,404.150273,Upper secondary,Mother - Highest Schooling,<ISCED level 2>
14228,Brazil,7050,Female,10.0,0.0,0.0,0.0,0.0,250.0,100.0,400.0,468.61662,539.65824,476.63186,494.968907,Short-cycle tertiary,Mother - Highest Schooling,<ISCED level 3A>
27667,Canada,10638,Male,3.0,0.0,0.0,0.0,0.0,300.0,300.0,300.0,467.75980,395.01988,475.60612,446.128600,Bachelorâ€™s or equivalent,<ISCED level 6>,Bachelorâ€™s or equivalent
153308,Spain,24895,Female,4.0,0.0,3.0,3.0,0.0,220.0,220.0,110.0,475.23760,520.67424,515.79636,503.902733,Short-cycle tertiary,<ISCED level 2>,Lower secondary
165961,Canada,19156,Female,20.0,2.0,0.0,0.0,0.0,400.0,400.0,400.0,565.98380,623.85510,526.24018,572.026360,Upper secondary,<ISCED level 2>,Lower secondary
83079,Canada,9322,Female,7.0,0.0,0.0,0.0,0.0,0.0,450.0,450.0,500.16358,497.48038,499.94404,499.196000,Short-cycle tertiary,<ISCED level 5>,Short-cycle tertiary
167537,Italy,28562,Female,2.0,1.0,0.0,0.0,0.0,240.0,360.0,120.0,354.73596,385.56208,333.86794,358.055327,Lower secondary,<ISCED level 2>,Lower secondary
175244,Switzerland,8428,Female,5.0,0.0,0.0,0.0,0.0,180.0,225.0,225.0,659.30052,639.58244,658.65350,652.512153,Short-cycle tertiary,<ISCED level 3>,Upper secondary
51183,Qatar,10117,Male,3.0,2.0,0.0,0.0,1.0,300.0,300.0,300.0,404.19850,461.82192,450.89518,438.971867,Bachelorâ€™s or equivalent,<ISCED level 5>,Short-cycle tertiary
4940,Spain,15501,Female,10.0,0.0,1.0,0.0,0.0,220.0,224.0,336.0,584.52252,571.58950,593.56586,583.225960,Bachelorâ€™s or equivalent,Mother - Highest Schooling,<ISCED level 3A>
209400,Italy,26843,Female,2.0,0.0,0.0,0.0,0.0,100.0,150.0,50.0,456.69886,559.43658,515.79632,510.643920,Post-secondary,<ISCED level 3>,Upper secondary
53009,Spain,21103,Male,5.0,2.0,3.0,3.0,2.0,220.0,220.0,110.0,457.39990,486.04064,478.03056,473.823700,Bachelorâ€™s or equivalent,<ISCED level 5>,Short-cycle tertiary
84410,United Kingdom,9013,Male,3.0,0.0,0.0,0.0,0.0,240.0,240.0,240.0,547.91242,588.68962,564.93844,567.180160,Short-cycle tertiary,<ISCED level 5>,Short-cycle tertiary

In [49]:
# Remove 'Mother - Highest Schooling' since it is redundant
m_edu = m_edu[(m_edu['Completed_edu - Mother'] != 'Mother - Highest Schooling')]

In [50]:
m_edu['Education - Mother'].value_counts()

Upper secondary             19440
Short-cycle tertiary        14762
Post-secondary               5580
Lower secondary              3964
Bachelorâ€™s or equivalent     2725
Primary                       588
Early childhood               176
Name: Education - Mother, dtype: int64

In [51]:
# Completed_edu is no longer needed since it duplicates the information in 'Education - Mother'
m_edu.drop(columns=['Completed_edu - Mother'], axis=1, inplace=True)

In [52]:
m_edu.sample(10)

,Country,Student ID,Gender,Out-of-School Study Time - Homework,Out-of-School Study Time - Guided Homework,Out-of-School Study Time - Personal Tutor,Out-of-School Study Time - Commercial Company,Out-of-School Study Time - With Parent,Learning Time - Mathematics,Learning Time - Test Language,Learning Time - Science,Average_Math_Score,Average_Reading_Score,Average_Science_Score,Average_Total_Score,Education - Father,Education - Mother
69269,Canada,18788,Male,4.0,0.0,0.0,0.0,1.0,400.0,400.0,400.0,472.51130,414.66754,469.73144,452.303427,Upper secondary,Short-cycle tertiary
48938,Luxembourg,4881,Male,3.0,0.0,0.0,0.0,1.0,330.0,330.0,440.0,529.06216,591.57664,565.12494,561.921247,Bachelorâ€™s or equivalent,Short-cycle tertiary
106475,Singapore,3707,Male,3.0,0.0,0.0,0.0,0.0,320.0,200.0,480.0,720.44710,686.20614,730.82804,712.493760,Short-cycle tertiary,Post-secondary
64519,Italy,28901,Female,20.0,4.0,1.0,0.0,3.0,300.0,240.0,120.0,552.19660,586.04594,535.47182,557.904787,Post-secondary,Short-cycle tertiary
48869,Kazakhstan,2791,Female,4.0,0.0,0.0,5.0,0.0,270.0,45.0,450.0,553.36500,513.28712,570.06714,545.573087,Bachelorâ€™s or equivalent,Short-cycle tertiary
48416,Israel,4753,Male,6.0,0.0,0.0,0.0,1.0,225.0,270.0,360.0,586.54774,573.69324,603.82316,588.021380,Bachelorâ€™s or equivalent,Short-cycle tertiary
170204,Greece,1877,Male,5.0,2.0,10.0,2.0,1.0,225.0,180.0,270.0,490.03738,491.17312,523.06976,501.426753,Bachelorâ€™s or equivalent,Upper secondary
182199,Spain,8827,Male,9.0,0.0,0.0,0.0,1.0,150.0,200.0,0.0,528.67268,512.58504,566.98994,536.082553,Short-cycle tertiary,Upper secondary
172418,Belgium,6310,Male,5.0,0.0,0.0,0.0,0.0,250.0,200.0,300.0,630.47982,584.11856,661.17120,625.256527,Bachelorâ€™s or equivalent,Upper secondary
50157,Romania,4745,Female,25.0,0.0,0.0,4.0,0.0,225.0,180.0,270.0,565.59434,495.09746,537.61654,532.769447,Bachelorâ€™s or equivalent,Short-cycle tertiary

In [53]:
m_edu['Student ID'].duplicated().sum()

23067

In [55]:
# Change datatypes into category, and put into order from lowest to highest
m_edu['Education - Mother'] = m_edu['Education - Mother'].astype('category')
m_edu['Education - Mother'] = m_edu['Education - Mother'].cat.set_categories(['Bachelorâ€™s or equivalent', 
                                                                                        'Short-cycle tertiary', 
                                                                                        'Post-secondary', 
                                                                                        'Upper secondary',
                                                                                        'Lower secondary', 
                                                                                        'Primary', 
                                                                                        'Early childhood'], ordered=True)
m_edu.sort_values(['Education - Mother'], inplace=True)

# Remove duplicates and keep last, which is the highest level of education for the student's father
mother_edu_clean = m_edu.drop_duplicates(subset=['Student ID'], keep='first')

In [56]:
mother_edu_clean['Student ID'].duplicated().sum()

0

In [57]:
print(pisa['STIDSTD'].nunique())
print(mother_edu_clean.shape)

33806
(24168, 17)

In [58]:
mother_edu_clean.head()

,Country,Student ID,Gender,Out-of-School Study Time - Homework,Out-of-School Study Time - Guided Homework,Out-of-School Study Time - Personal Tutor,Out-of-School Study Time - Commercial Company,Out-of-School Study Time - With Parent,Learning Time - Mathematics,Learning Time - Test Language,Learning Time - Science,Average_Math_Score,Average_Reading_Score,Average_Science_Score,Average_Total_Score,Education - Father,Education - Mother
24170,Italy,4711,Female,22.0,2.0,0.0,0.0,0.0,220.0,220.0,110.0,546.58826,600.74068,542.83850,563.389147,Bachelorâ€™s or equivalent,Bachelorâ€™s or equivalent
24175,Italy,4508,Male,9.0,2.0,1.0,0.0,1.0,232.0,348.0,232.0,546.82192,530.94960,580.79074,552.854087,Bachelorâ€™s or equivalent,Bachelorâ€™s or equivalent
24176,Italy,4473,Male,13.0,2.0,0.0,0.0,2.0,200.0,450.0,100.0,614.20002,661.18546,667.60536,647.663613,Bachelorâ€™s or equivalent,Bachelorâ€™s or equivalent
24177,Italy,4460,Female,18.0,0.0,0.0,0.0,1.0,200.0,250.0,100.0,646.83754,701.85636,705.83738,684.843760,Bachelorâ€™s or equivalent,Bachelorâ€™s or equivalent
24182,Italy,3971,Male,21.0,0.0,0.0,0.0,10.0,180.0,240.0,120.0,550.32716,621.08820,688.86610,620.093820,Bachelorâ€™s or equivalent,Bachelorâ€™s or equivalent

In [59]:
pisa_clean = mother_edu_clean.copy()

In [60]:
mother_edu_clean.head()

,Country,Student ID,Gender,Out-of-School Study Time - Homework,Out-of-School Study Time - Guided Homework,Out-of-School Study Time - Personal Tutor,Out-of-School Study Time - Commercial Company,Out-of-School Study Time - With Parent,Learning Time - Mathematics,Learning Time - Test Language,Learning Time - Science,Average_Math_Score,Average_Reading_Score,Average_Science_Score,Average_Total_Score,Education - Father,Education - Mother
24170,Italy,4711,Female,22.0,2.0,0.0,0.0,0.0,220.0,220.0,110.0,546.58826,600.74068,542.83850,563.389147,Bachelorâ€™s or equivalent,Bachelorâ€™s or equivalent
24175,Italy,4508,Male,9.0,2.0,1.0,0.0,1.0,232.0,348.0,232.0,546.82192,530.94960,580.79074,552.854087,Bachelorâ€™s or equivalent,Bachelorâ€™s or equivalent
24176,Italy,4473,Male,13.0,2.0,0.0,0.0,2.0,200.0,450.0,100.0,614.20002,661.18546,667.60536,647.663613,Bachelorâ€™s or equivalent,Bachelorâ€™s or equivalent
24177,Italy,4460,Female,18.0,0.0,0.0,0.0,1.0,200.0,250.0,100.0,646.83754,701.85636,705.83738,684.843760,Bachelorâ€™s or equivalent,Bachelorâ€™s or equivalent
24182,Italy,3971,Male,21.0,0.0,0.0,0.0,10.0,180.0,240.0,120.0,550.32716,621.08820,688.86610,620.093820,Bachelorâ€™s or equivalent,Bachelorâ€™s or equivalent

In [61]:
pisa_clean.replace(["NaN"], np.nan, inplace = True)
pisa_clean.dropna(inplace = True)

In [63]:
pisa_clean

,Country,Student ID,Gender,Out-of-School Study Time - Homework,Out-of-School Study Time - Guided Homework,Out-of-School Study Time - Personal Tutor,Out-of-School Study Time - Commercial Company,Out-of-School Study Time - With Parent,Learning Time - Mathematics,Learning Time - Test Language,Learning Time - Science,Average_Math_Score,Average_Reading_Score,Average_Science_Score,Average_Total_Score,Education - Father,Education - Mother
24170,Italy,4711,Female,22.0,2.0,0.0,0.0,0.0,220.0,220.0,110.0,546.58826,600.74068,542.83850,563.389147,Bachelorâ€™s or equivalent,Bachelorâ€™s or equivalent
24175,Italy,4508,Male,9.0,2.0,1.0,0.0,1.0,232.0,348.0,232.0,546.82192,530.94960,580.79074,552.854087,Bachelorâ€™s or equivalent,Bachelorâ€™s or equivalent
24176,Italy,4473,Male,13.0,2.0,0.0,0.0,2.0,200.0,450.0,100.0,614.20002,661.18546,667.60536,647.663613,Bachelorâ€™s or equivalent,Bachelorâ€™s or equivalent
24177,Italy,4460,Female,18.0,0.0,0.0,0.0,1.0,200.0,250.0,100.0,646.83754,701.85636,705.83738,684.843760,Bachelorâ€™s or equivalent,Bachelorâ€™s or equivalent
24182,Italy,3971,Male,21.0,0.0,0.0,0.0,10.0,180.0,240.0,120.0,550.32716,621.08820,688.86610,620.093820,Bachelorâ€™s or equivalent,Bachelorâ€™s or equivalent
24185,Italy,3896,Female,20.0,0.0,2.0,0.0,0.0,300.0,240.0,180.0,603.45068,575.71992,524.65500,567.941867,Bachelorâ€™s or equivalent,Bachelorâ€™s or equivalent
24186,Italy,3796,Male,10.0,1.0,1.0,0.0,0.0,240.0,360.0,120.0,579.92678,544.26188,568.76166,564.316773,Bachelorâ€™s or equivalent,Bachelorâ€™s or equivalent
24187,Italy,3748,Female,30.0,2.0,1.0,0.0,0.0,180.0,240.0,120.0,501.72144,562.61380,510.20142,524.845553,Bachelorâ€™s or equivalent,Bachelorâ€™s or equivalent
24192,Italy,2772,Male,8.0,1.0,0.0,0.0,1.0,385.0,385.0,220.0,513.24974,465.02970,609.04510,529.108180,Bachelorâ€™s or equivalent,Bachelorâ€™s or equivalent
24196,Italy,5366,Male,7.0,0.0,0.0,0.0,0.0,150.0,200.0,100.0,679.94238,636.40536,671.05556,662.467767,Bachelorâ€™s or equivalent,Bachelorâ€™s or equivalent
24197,Italy,7271,Female,6.0,0.0,0.0,0.0,0.0,270.0,216.0,108.0,541.99252,537.35474,515.23688,531.528047,Bachelorâ€™s or equivalent,Bachelorâ€™s or equivalent
24209,Italy,6496,Male,10.0,2.0,0.0,0.0,1.0,250.0,200.0,150.0,552.11868,471.52544,530.52964,518.057920,Bachelorâ€™s or equivalent,Bachelorâ€™s or equivalent
24213,Italy,5895,Male,1.0,0.0,0.0,2.0,0.0,275.0,385.0,165.0,652.05640,565.43320,699.30994,638.933180,Bachelorâ€™s or equivalent,Bachelorâ€™s or equivalent
24214,Italy,5858,Male,23.0,2.0,2.0,0.0,0.0,165.0,220.0,110.0,660.85838,625.33852,678.79522,654.997373,Bachelorâ€™s or equivalent,Bachelorâ€™s or equivalent
24218,Italy,5529,Male,20.0,4.0,0.0,1.0,10.0,360.0,300.0,180.0,602.28228,600.23764,679.44798,627.322633,Bachelorâ€™s or equivalent,Bachelorâ€™s or equivalent
24220,Italy,5501,Female,25.0,0.0,0.0,0.0,0.0,300.0,360.0,120.0,659.76790,618.29494,656.60200,644.888280,Bachelorâ€™s or equivalent,Bachelorâ€™s or equivalent
24227,Italy,408,Female,7.0,3.0,1.0,0.0,0.0,150.0,200.0,100.0,517.61178,602.32932,567.08316,562.341420,Bachelorâ€™s or equivalent,Bachelorâ€™s or equivalent
24233,Italy,130,Female,3.0,3.0,0.0,0.0,2.0,300.0,300.0,120.0,552.43028,580.24750,568.76166,567.146480,Bachelorâ€™s or equivalent,Bachelorâ€™s or equivalent
27759,Canada,1093,Female,4.0,0.0,0.0,0.0,0.0,300.0,300.0,225.0,432.39600,469.67952,448.28422,450.119913,Bachelorâ€™s or equivalent,Bachelorâ€™s or equivalent
24320,Italy,15818,Female,21.0,0.0,0.0,0.0,1.0,220.0,275.0,110.0,648.08382,639.26472,705.65086,664.333133,Bachelorâ€™s or equivalent,Bachelorâ€™s or equivalent
24229,Italy,280,Female,20.0,4.0,2.0,0.0,3.0,180.0,240.0,120.0,582.96464,610.11356,610.53710,601.205100,Bachelorâ€™s or equivalent,Bachelorâ€™s or equivalent
24319,Italy,15823,Female,24.0,2.0,2.0,0.0,0.0,275.0,275.0,110.0,630.63562,689.22682,650.54082,656.801087,Bachelorâ€™s or equivalent,Bachelorâ€™s or equivalent
24252,Italy,7277,Male,3.0,0.0,1.0,0.0,0.0,285.0,228.0,114.0,751.21514,678.82824,711.33904,713.794140,Bachelorâ€™s or equivalent,Bachelorâ€™s or equivalent
24253,Italy,651,Female,6.0,2.0,5.0,2.0,3.0,300.0,240.0,120.0,416.42780,460.06836,529.03768,468.511280,Bachelorâ€™s or equivalent,Bachelorâ€™s or equivalent
24255,Italy,2399,Male,0.0,0.0,0.0,0.0,0.0,200.0,150.0,100.0,524.07696,405.04420,474.67364,467.931600,Bachelorâ€™s or equivalent,Bachelorâ€™s or equivalent
24257,Italy,2277,Female,30.0,2.0,0.0,0.0,0.0,300.0,360.0,120.0,558.50600,586.91970,565.31146,570.245720,Bachelorâ€™s or equivalent,Bachelorâ€™s or equivalent
24258,Italy,2229,Male,4.0,1.0,1.0,0.0,0.0,220.0,275.0,220.0,617.08212,559.33842,631.33160,602.584047,Bachelorâ€™s or equivalent,Bachelorâ€™s or equivalent
24261,Italy,1849,Male,16.0,1.0,0.0,0.0,1.0,250.0,200.0,200.0,679.16342,653.48680,680.66022,671.103480,Bachelorâ€™s or equivalent,Bachelorâ€™s or equivalent
24262,Italy,1848,Male,6.0,0.0,0.0,0.0,0.0,250.0,200.0,200.0,646.60384,599.19510,601.11900,615.639313,Bachelorâ€™s or equivalent,Bachelorâ€™s or equivalent
24270,Italy,1388,Male,1.0,1.0,1.0,1.0,1.0,240.0,360.0,120.0,491.20580,523.01032,514.58410,509.600073,Bachelorâ€™s or equivalent,Bachelorâ€™s or equivalent
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241574,Qatar,8592,Female,12.0,2.0,0.0,0.0,2.0,275.0,220.0,495.0,358.31906,424.32442,304.86758,362.503687,Early childhood,Early childhood
241577,Brazil,10158,Male,4.0,2.0,0.0,0.0,2.0,180.0,180.0,120.0,368.83472,347.46454,350.74600,355.681753,Early childhood,Early childhood
241584,Brazil,14724,Male,2.0,0.0,0.0,0.0,0.0,50.0,50.0,50.0,495.10050,468.15728,474.58038,479.279387,Early childhood,Early childhood
241587,Brazil,15373,Male,3.0,3.0,0.0,0.0,1.0,135.0,135.0,90.0,410.19630,389.40626,388.97798,396.193513,Early childhood,Early childhood
241595,Brazil,15978,Male,1.0,0.0,0.0,0.0,0.0,240.0,240.0,120.0,395.78594,455.32616,426.18428,425.765460,Early childhood,Early childhood
241561,Italy,27953,Male,14.0,7.0,4.0,0.0,4.0,300.0,300.0,180.0,449.61052,369.59820,482.13354,433.780753,Early childhood,Early childhood
241600,Brazil,13589,Male,2.0,2.0,0.0,0.0,1.0,120.0,180.0,360.0,414.63624,400.63352,384.40880,399.892853,Early childhood,Early childhood
241602,Brazil,13405,Female,3.0,0.0,0.0,0.0,0.0,270.0,270.0,180.0,352.63280,341.47788,352.05146,348.720713,Early childhood,Early childhood
241605,Spain,11578,Male,6.0,2.0,0.0,0.0,0.0,200.0,200.0,150.0,307.29864,278.97842,313.07350,299.783520,Early childhood,Early childhood
241626,Spain,21999,Female,6.0,0.0,6.0,0.0,0.0,220.0,220.0,220.0,508.26452,456.65282,536.31108,500.409473,Early childhood,Early childhood
241630,Spain,24594,Male,8.0,3.0,0.0,0.0,2.0,275.0,330.0,275.0,426.78766,360.13530,404.27076,397.064573,Early childhood,Early childhood
241639,Spain,15493,Female,1.0,0.0,0.0,0.0,0.0,200.0,250.0,150.0,342.42872,316.13938,344.21856,334.262220,Early childhood,Early childhood
241640,Spain,15593,Male,1.0,0.0,0.0,0.0,0.0,200.0,200.0,200.0,499.07306,430.54604,455.74414,461.787747,Early childhood,Early childhood
241641,Spain,15780,Male,1.0,1.0,2.0,1.0,1.0,220.0,220.0,110.0,364.86212,287.96020,330.04478,327.622367,Early childhood,Early childhood
241646,Spain,18064,Female,3.0,1.0,0.0,0.0,1.0,240.0,240.0,120.0,418.68672,412.96576,434.29690,421.983127,Early childhood,Early childhood
241650,Spain,16213,Female,2.0,0.0,0.0,0.0,0.0,165.0,165.0,110.0,437.45910,430.36118,527.91870,465.246327,Early childhood,Early childhood
241654,Spain,16751,Female,5.0,3.0,0.0,0.0,3.0,240.0,240.0,180.0,348.19286,353.31308,375.92316,359.143033,Early childhood,Early childhood
241621,Spain,20807,Male,9.0,2.0,0.0,0.0,0.0,200.0,200.0,100.0,553.83240,490.85232,517.94106,520.875260,Early childhood,Early childhood
241659,Canada,21199,Female,2.0,1.0,2.0,2.0,1.0,350.0,350.0,375.0,344.99922,415.66642,398.11638,386.260673,Early childhood,Early childhood
241668,Brazil,17763,Male,2.0,2.0,3.0,3.0,3.0,300.0,300.0,150.0,297.87350,267.02944,239.77994,268.227627,Early childhood,Early childhood
241670,Brazil,17317,Female,4.0,1.0,0.0,0.0,2.0,100.0,150.0,100.0,330.74466,434.49156,355.40844,373.548220,Early childhood,Early childhood
241671,Brazil,18337,Male,2.0,2.0,6.0,0.0,2.0,200.0,200.0,300.0,507.09612,549.79528,488.56768,515.153027,Early childhood,Early childhood
241672,Brazil,18355,Male,1.0,0.0,0.0,4.0,0.0,250.0,250.0,100.0,487.38900,448.02844,493.23014,476.215860,Early childhood,Early childhood
241674,Brazil,18512,Male,5.0,3.0,0.0,0.0,0.0,300.0,300.0,150.0,309.94702,287.31864,365.94556,321.070407,Early childhood,Early childhood
241675,Brazil,18863,Male,2.0,1.0,1.0,1.0,2.0,300.0,350.0,100.0,375.45568,377.05632,370.88772,374.466573,Early childhood,Early childhood
237463,Spain,22547,Female,3.0,0.0,0.0,2.0,1.0,400.0,400.0,0.0,525.47904,485.40684,530.99590,513.960593,Upper secondary,Early childhood
241677,Brazil,19130,Female,2.0,1.0,0.0,0.0,2.0,180.0,225.0,90.0,376.46830,428.45480,362.40210,389.108400,Early childhood,Early childhood
241666,Brazil,18298,Female,3.0,0.0,0.0,2.0,0.0,120.0,180.0,120.0,413.46784,440.68720,389.16450,414.439847,Early childhood,Early childhood
237276,Finland,5648,Female,1.0,0.0,0.0,0.0,0.0,224.0,168.0,168.0,468.14926,522.58056,525.12122,505.283680,Upper secondary,Early childhood
241679,Chile,6301,Female,0.0,0.0,0.0,0.0,1.0,540.0,720.0,90.0,301.69028,311.29408,287.52330,300.169220,Early childhood,Early childhood

In [64]:
pisa_clean.shape

(24168, 17)

In [65]:
# Create total of Out-of-School Study Time
pisa_clean['Out-of-School Study Time - Total'] = pisa_clean['Out-of-School Study Time - Homework'] + pisa_clean['Out-of-School Study Time - Guided Homework'] + pisa_clean['Out-of-School Study Time - Personal Tutor'] + pisa_clean['Out-of-School Study Time - Commercial Company'] + pisa_clean['Out-of-School Study Time - With Parent']

# Create total of Learning time (minutes per week)
pisa_clean['Learning Time - Total'] = pisa_clean['Learning Time - Mathematics'] + pisa_clean['Learning Time - Test Language'] + pisa_clean['Learning Time - Science']

In [66]:
list(pisa_clean)

['Country',
 'Student ID',
 'Gender',
 'Out-of-School Study Time - Homework',
 'Out-of-School Study Time - Guided Homework',
 'Out-of-School Study Time - Personal Tutor',
 'Out-of-School Study Time - Commercial Company',
 'Out-of-School Study Time - With Parent',
 'Learning Time - Mathematics',
 'Learning Time - Test Language',
 'Learning Time - Science',
 'Average_Math_Score',
 'Average_Reading_Score',
 'Average_Science_Score',
 'Average_Total_Score',
 'Education - Father',
 'Education - Mother',
 'Out-of-School Study Time - Total',
 'Learning Time - Total']

In [67]:
pisa.shape

(485490, 635)

In [68]:
pisa_clean['Education - Mother'].value_counts()

Short-cycle tertiary        10185
Upper secondary              4791
Lower secondary              3057
Bachelorâ€™s or equivalent     2725
Post-secondary               2646
Primary                       588
Early childhood               176
Name: Education - Mother, dtype: int64

In [69]:
# Store the clean DataFrame in a CSV file
pisa_clean.to_csv("pisa_wrg.csv", index=False, encoding='utf8')